@use 'library.scss';

.about-me{

  &__header{
    @include library.sub-header();
  }

  & > div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__hobbies-container{
    width: min(80%, 1000px);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  &__hobby{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:30%;
    height: inherit;
    text-align: center;
    line-height: 1.65;
    
    svg{
      width: 100%;
      aspect-ratio: 1/1;
      background-color: red;
    }

    h3{
      font-size: 2rem;
    }

    p{
      font-size: 1.1rem;
    }
  }

    & > svg{
        margin: auto;
        display: block;
    }

    &__item1-title{grid-area: title;}
    &__item2-photo{grid-area: photo;}
    &__item3-number1{grid-area: number-1;}
    &__item4-start{grid-area:start;}
    &__item5-number2{grid-area:number-2;}
    &__item6-education{grid-area:education;}
    &__item7-number3{grid-area:number-3;}
    &__item8-work{grid-area:work;}
    &__item9-span{grid-area:span;}
    &__item10-cv{grid-area:cv;}

    &__grid-container{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: 150px auto;
        grid-template-areas: 
            "title title"
            "number-1 start"
            "number-2 education"
            "number-3 work" 
            "span cv";
        gap: 1.5rem;
    }

    &__numbers{
        text-align: right;
    }

    &__subtext {
    }

    &__item2-photo{
        width: 450px;
    }

    &__content > p {
        font-size: 1.25rem;
        padding-top: 2.5rem;
        font-weight: 400;
        color: #393939;
        font-family: library.$font-text;
    }

    &__numbers > div {
        font-family: library.$font-text;
        font-weight: 600;
        font-size: 2rem;
    }

    button {
      width: 11rem;
      margin: 0px 2rem;
      border: 2px solid #041D36;
      background-color: transparent;
      cursor: pointer;
      border-radius: 40px;
      padding: 0.8rem 0rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 600;
      color: #041D36;
      transition: all 0.3s ease;

      &:hover{
        background-color: #041D36;
        color:white
      }
    }

}

@media only screen and (max-width: 600px) {

  .about-me__header-content-container{
    @include library.MQ__sub-header__div-content-container();
  }
}