@use 'library.scss';

body {
    background-color: library.$main-bg;

    &::-webkit-scrollbar {
    width: 0.8rem;
    }
    
    &::-webkit-scrollbar-track {
    background-color: rgb(205, 225, 230);
    }
    
    &::-webkit-scrollbar-thumb {
        height: 10rem;
        background-color: #103151;
        border-radius: 2px;
    }
}

