@use "library.scss";

/* Contact */
#contact{
  background-color: library.$main-bg;
	min-height: 100vh;
  position: relative;
}

.contact{

	&__container{
		margin: auto;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      'empty form svg-me empty2'
      'social-links social-links social-links social-links'; 
    grid-template-columns: auto 480px 30% auto;
    grid-template-rows:  auto 150px;
    column-gap: 6rem;
	}

	&__form-cont{
    grid-area: form;
		display: flex;
		gap: 1rem;
		justify-content: center;
		flex-direction: column;
		width: min(90%, 480px);

    h1{
      font-family: library.$font-mono;
      color: library.$primary-90;
		  font-weight: 800;
			width: 100%;
		  font-size: clamp(2rem, 8vw, 4rem);
		  line-height: clamp(55px, 13vw, 66px);
      position: relative;
      margin-bottom: 1rem;
    }

    p{
      padding: 0rem 0.1rem;
      font-family: "Red Hat Text";
      font-size: clamp(0.9rem, 4vw , 1.1rem);
      color: #374F67;
      line-height: 1.5;
    }
	}

	&__form{

		width: 100%;

		fieldset{
			width: 100%;
			position: relative;
			border: 0px;
			margin: 2rem 0px;

			&[data-focused='true'] .contact__form-label:not(.contact__form-label[for='form__content']){
				color:#A1A1A1;	
				font-size: 0.8rem;
				left: 0px;
				translate: 0 -20px;
			}

			&[data-focused='true'] .contact__form-label[for='form__content']{
				transform-origin: 50% 50%;
				color:#A1A1A1;	
				scale: 0.95;
				translate: 0 -20px;
				z-index: 2;
			}
		}

		&-label{
			position: absolute;
			color: library.$color-40;
			font-family: "Roboto";
			font-weight: 500;
			font-size: 0.9rem;
      top: 0.4rem;
      left: 0.5rem;
      transition: all 0.2s ease;

			&[for='form__content']{
				background-color: library.$main-bg;
			  padding: 0rem 0.3rem;
				top:0.8rem;
				left: 0.9rem;
			}
		}

		textarea{
			width: 100%;
			resize: none;
			position: relative;
			border-radius: 10px;
			padding: 1rem;
      border: 4px solid #56697C;
			color: #56697C;
			background-color: transparent;
			font-weight: 500;
			font-size: 0.9rem;
			font-family: 'Roboto';
			z-index: 1;
			
			&:focus {
				outline: 0;
			}

		}

		input {

			&[type="text"], &[type="email"] {
				width: 100%;
				position: relative;
				padding: 0.6rem 1rem 0.1rem 1rem;
        border: none;
				background-color: transparent;
				border-bottom: 4px solid #56697C;
				color: #56697C;
				font-size: 0.9rem;
				font-weight: 500;
				font-family: 'Roboto';
				z-index: 1;
			}

			&[type="submit"] {
				cursor: pointer;
				position: absolute;
				left: 50%;
        border: none;
				transform: translate(-50%, -50%);
				padding: 0.7rem 5.5rem;
				font-family: 'Roboto';
				letter-spacing: 0.1rem;
				font-weight: 500;
        border-radius: 0.4rem;
        background-color: #D3E8E5;
        color: #56697C;

				&:hover{
					filter: drop-shadow(0px 0px 1px #56697c81)
				}
			}
	
			&:focus {
				outline: 0;
			}
	
		}

		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: #0e3c4d;
		}
	}

  &__me{
    grid-area: svg-me;
    position: relative;

    svg{
      position: absolute;
      width: 100%;
      height: auto;
      overflow: visible;
      bottom: -0.5rem;

      #me-shadow__eye-left, #me-shadow__eye-right{
        fill:  library.$main-bg;
        transform-origin: 0% 44%;
        transform: scaleY(0);
        animation: openEyes 0.5s 3s ease forwards;
      }

      #me-shadow__bg{
        fill: library.$primary-30;
        animation: me-shadow 2.6s 1s cubic-bezier(.25,1.28,.46,1.01)forwards;
      }

      #me-shadow__eye-dot-left, #me-shadow__eye-dot-right{
        position: absolute;
		    filter: opacity(0%);
        fill: library.$primary-30;
		    animation: showEyeDots 0.1s 2.9s linear forwards;
      }
    }
  }

	&__modal{
		position: absolute;
		background-color: #6E869F;
		right: 4rem;
		padding: 1rem;
		bottom: 4rem;
		width: 240px;
		height: auto;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&-svg{

			width: auto;
			height: 80px;

			> &-error, > &-successful{
				display: none;
			}
		
			&[data-successful='true'] > &-successful{
				display: block;
			}
				
			&[data-successful='false'] > &-error{
				display: block;
				
				path:first-of-type{
					stroke-dasharray: 100;
					stroke-dashoffset: 100;
					animation: modalDash 0.6s ease forwards;
				}

				path:last-of-type{
					stroke-dasharray: 100;
					stroke-dashoffset: 100;
					animation: modalDash 0.6s 0.1s ease forwards;
				}
			}
		}

		&-response{
			color: library.$main-bg;
			margin-top: 0.2rem;
			font-family: 'Roboto Mono';
			font-weight: 600;
			font-size: 0.85rem;
			text-align: center;
		}
	}
}


@keyframes modalDash {
	from{stroke-dashoffset: 100;}
	to {stroke-dashoffset: 0;}
}

.contact-end{

  grid-area: social-links;

  width: 100%;
  background-color: library.$primary-30;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-around;


	&__social-links-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		a {
			position: relative;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			margin: 0px 15px;
			transition: background-color ease 0.3s;

			&:hover {
				background-color: #6E869F;
			}
		}
	}

	&__social-link{
		position: absolute;
		fill: library.$font-color-navy;

		z-index: 3;
		transition: fill ease 0.3s;
	
		&:hover{
			cursor: pointer;
			fill: library.$main-bg;
		}
	}

	&__handcrafted-by{
		text-align: center;
    color: #56697C;

		p:first-child {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 24px;
		}

		p:last-child{
			font-size: 1rem;
			font-weight: 400;
			line-height: 21px;
		}
	}
}

@keyframes showEyeDots{
	from{filter: opacity(0%)}
	to{filter: opacity(100%)}	
}

@keyframes openEyes {
  from{transform: scaleY(0)}
  to{transform: scaleY(1)}
}

@keyframes me-shadow {
  from{d: path("M94 305.222L109.5 305.222C109.999 305.222 124.5 305.222 125.5 305.222C126.5 305.222 138.293 305.222 139 305.222C139.707 305.222 150.501 305.222 151.001 305.222C151.501 305.222 165.502 305.222 165.502 305.222C166 305.222 181.5 305.222 181.5 305.222C182.5 305.222 196.148 305.222 197.002 305.222C198 305.222 214.5 305.222 215.502 305.222C216.138 305.222 237.998 305.222 238.5 305.222C239.498 305.222 257.127 305.222 257.502 305.222C257.877 305.222 273.003 306.222 273.5 307.222H0C0 306.222 15.0028 305.222 18.0017 305.222C21.0018 305.222 38.5013 305.222 39.5 305.222C40.4987 305.222 56 305.222 56 305.222C56 305.222 71.4995 305.222 72.5 305.222C73.5005 305.222 92.9987 305.222 94 305.222Z")};
  to{d: path("M37.5 117.449L39.5 100.449C22.7077 75.4486 45.5001 55.4485 60 44.9486C74.4999 34.4486 78 -13.0514 161.5 3.44852C175.5 6.21498 201.5 14.4486 214.5 20.9486C227.674 27.5356 219.292 57.4486 219.292 57.4486C245.5 53.9486 238 115.449 238 115.449C263 116.949 251 166.449 243.5 171.949C236.5 177.082 233.557 178.186 221 179.949C221 196.949 205.768 218.212 182 239.449C199 239.449 227 250.449 227 268.449C256 268.449 273.5 295 273.5 307.5H0C0 293 16.5 268.449 48.9999 266.449C48.9999 253.449 66.5 239.449 89.7921 239.449C51 207.949 55 179.949 55 179.949C55 179.949 38.6028 181.949 34 174.949C10 138.448 19 118.949 37.5 117.449Z")}
}

@media only screen and (max-width: 600px){

	.contact__container{
    grid-template-areas:
      'form'
			'svg-me'
      'social-links'; 
    grid-template-columns: auto;
    grid-template-rows: auto 250px 120px;
    column-gap: 3rem;
	}

	#me-shadow__svg{
		left: 50%;
		translate: -50% 0%;
		width: 220px;
	}

	.contact__form-cont{
		gap: 0px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-end;
	} 

	.contact-end__phrase{
		display: none;
	}

	.contact-end__handcrafted-by{

	}
}