$DM-font: #fbf7fd;
$DM-main-bg: #2c1635;
$DM-primary-70: #512c59;
$DM-primary-50: #805a89;
$DM-primary-30: #988ab1;
$DM-primary-10: #bcafd2;


@mixin subHeaderDM{

  &__header{
    &-bg{
      background-color: $DM-primary-50;
    }

    &-title{
      color: $DM-font;
      span{color:$DM-font}
    }
  }
}

.svg-darkmode__sunMoon[data-darkmode="true"] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  stroke: rgb(252, 248, 253);
  d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
}
  
.svg-darkmode__group[data-darkmode="true"]  {
  transform-origin: 50% 50%;
  scale: 0.9;
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  opacity: 0; 
}

.svg-darkmode__bg[data-darkmode="true"] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  fill: rgb(215, 205, 237);
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  d: path("M79.5 63C78.8572 69.3899 66.7493 79.5 49 79.5C31.2507 79.5 19 65.041 19 49C19 35.5711 24.5 25.5 29.4999 22C31.2719 21.5699 31.7018 25.6877 31.4999 27C29.4999 40 47.0759 69.7942 76 60.5C77.9283 59.8804 79.6421 61.5874 79.5 63Z");
}

body[data-darkmode="true"]{
  background-color: $DM-main-bg;

  p{
    color: $DM-font;
  }

  a{
    color: $DM-font;
  }

}

//header
.header__language-btn[data-darkmode="true"] {
  color: $DM-font;

  .header__language{

    &-ES{
      padding: 1.6rem 1.2rem;
      text-shadow:  2px 2px 1px $DM-main-bg;
    }

    &-EN{
      padding: 1.6rem 1.2rem;
      text-shadow:  2px 2px 1px $DM-main-bg;
    }

  }

}


.header__rightside[data-darkmode="true"]{
  .header{
    &__title{
      color: $DM-font;
      span{color:$DM-font}
    }

  }
}

//nav-mobile
.nav-mobile[data-darkmode='true']{
  
  .nav-mobile{
    &__topbar{
      background: linear-gradient(to bottom, $DM-main-bg 80%, #f0f6fd00);
    }
  
    &__list-item-container{
      background-color: $DM-primary-70;
  
      span{
        background-color: $DM-primary-50;
      }
  
      a {
        color: $DM-font;
        text-shadow:  2px 2px 1px $DM-main-bg;
      }
    }
  }
  
  svg{
    filter: drop-shadow(1px 1px 1px $DM-primary-50);
  }

  #hamburger-topBar,
  #hamburger-middleBar,
  #hamburger-bottomBar{
    fill: $DM-font
  }
  
}

//about-me
.about-me[data-darkmode='true']{
  
  .about-me{
    @include subHeaderDM();
  }

  p{
    color: $DM-font;
  }

}

//skills
.skills[data-darkmode="true"]{

  .skills{
    @include subHeaderDM();
  }
}

//loading
.loading{
  background-color: $DM-main-bg;

  &__text{
    color: $DM-font
  }

  &__bar{
    background-color: $DM-font;
  }
}

//portfolio
.portfolio[data-darkmode="true"]{
  
  .portfolio{
    @include subHeaderDM();

    &__item {
      border-color: black;
      &-header{
        &-name{
          span{
            //color: library.$primary-90;
          }
        }
  
        &-technologies{
          color: gray;
        }
      }
  
      &-link-github{

        a{
          width: 45px;
          height: 45px;
          translate: -21% 0px;
        }

        svg{
          translate: -50% 0%;
          width: 45px;
          height: 45px;
          fill: $DM-primary-10;
        }
      }
    }
  }
}

//contact
.contact[data-darkmode="true"]{

  .contact__me{
    #me-shadow__eye-left, #me-shadow__eye-right{
      fill: $DM-main-bg;
    }

    #me-shadow__bg, #me-shadow__eye-dot-left, #me-shadow__eye-dot-right{
      fill: $DM-primary-50;
    }
  }
  
  .contact-end{
  
    background-color: $DM-primary-50;
  
    &__social-links-container {
      a {
        &:hover {
          background-color: $DM-font;
        }
      }
    }
  
    &__social-link{
      fill: $DM-main-bg;
  
      &:hover{
        fill: $DM-font;
      }
    }
  
    &__handcrafted-by{
      color: #56697C;
    }
  }
}
