@use 'library.scss';

$drop-shadow: drop-shadow(0px 0px 3px gray);

#home{
  margin-bottom: 15rem;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  
  &__container{
    display: grid;
    position: relative;
    grid-template-areas:
      'svg-me header-info'
      'svg-me header-nav';
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    width: min(1200px, 93%);
    margin: auto;
    align-content: center;
    height: 600px;
  }

  &__leftside{
    grid-area: svg-me;
    display: flex;
    position: relative;;

    svg{
      width: 100%;
      position: relative;
      height: auto;
    }

    div{
      font-size: 1.6rem;
      width: 500px;
      height: 150px;
      translate: 30px -60px ;
      background-color: white;
      color: #959595;
      border: 3px solid #D3E8E5;
      padding: 1rem;
      border-radius: 1rem;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 5;
    }
  }

  &__rightside{
    grid-area: header-info;

    > div{
      display: flex;
      flex-direction: column;
      translate: -13% 0%;
      width: 113%;
    }

  }

  &__title{
    text-align: left;
    font-size: clamp(2.1rem, 5vw, 3.5rem);
    line-height: 1.2;
    color: #09233e;
    font-family: library.$font-mono;
    font-weight: 300;
    position: relative;

    &:before{
      content:"";
      position: absolute;
      bottom: -1rem;
      border-radius: 2px;
      left: 0px;
      background-color: #6E869F;
      width: 100px;
      height: 10px;
    }

    span{
      font-size: clamp(2.3rem, 5vw, 4rem);
      color: #09233e;
      font-weight: 600;
      font-family: library.$font-mono
    }

  }

  &__subtext {
    margin-top: 2rem;
    max-width: 500px;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    font-family: library.$font-display;

    span{
      margin-top: 2rem;
      font-weight: 400;
    }
  }

  &__settings{
    height: auto;
    width: min(100%, 1400px);
    padding: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
  }

  &__language-btn{
    text-decoration: none;
    font-family: 'Quicksand';
    color: #6E869F;
    font-size: 1rem;
    border: none;
    font-weight: 700;
    height: 40px;
    padding: 0px 1rem;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    
    &:hover{
      background-color: #56697C;
    }
  }

  &__nav{
    grid-area: header-nav;

    &-list{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      width: 110%;
      translate: -13% 0px;
    }
    
    &-item{
      border-radius: 10px;
      display: flex;
      height: auto;
      border: 5px solid #56697C;
      justify-content: center;
      align-items: center;
      list-style-type:none;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-property: transform;
      opacity: 0;
      
      &::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        border-radius: 5px 5px 0px 0px;
        translate: -50% 0%;
        background-color: #D3E8E5;
        z-index: -1;
        width: 95%;
        height: 0%;
        transition: height 0.3s ease;
      }

      a {
        display: block;
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-size: 1rem;
        color: #56697C;
        font-weight: 800;
        letter-spacing: 2px;
        font-family: library.$font-mono;
        text-decoration: none;
      }
    }
  }
}


@keyframes mi {
    from {
        transform: rotate(-180deg);
        d: path("M72 47C72 60.8071 60.8071 72 47 72C33.1929 72 22 60.8071 22 47C22 33.1929 33.1929 22 47 22C48.3615 22 49.6976 22.1088 51 22.3183C61.7694 24.0501 70.2384 32.6607 71.7569 43.5C71.9172 44.6437 72 45.8122 72 47Z");
    }
    to {
        transform: rotate(0deg);
        d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
    }
  }

  @keyframes palo1 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

  @keyframes paloscale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
  }

.svg-darkmode {
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0.5rem;
    &:hover{
        transform: scale(1.1);
    }
}

.svg-darkmode > path {
    transform-origin: 50% 50%;
    transition: all 0.6s cubic-bezier(.52,.26,1,.6);
    transform: rotate(-630deg);
}

.svg-darkmode > g {
  transform-origin: 50% 50%;
  transform: scale(1);
  transform: rotate(0deg);
  transition: all 0.6s cubic-bezier(.26,.46,.48,.99);
}

.svg-darkmode > path[darkmode="true"] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(.13,.54,.5,.99) ;
  d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
}

.svg-darkmode > g[darkmode="true"]  {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  transform: rotate(240deg);
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  opacity: 0;
    
}

@keyframes darkmodeTransition {
  from{scale: 0;}
  to{scale:50}
}

.header{

  &__darkmode-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  &__darkmode-transition{
    background-color: gray;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    scale: 0;
    z-index: -1000;
    animation: darkmodeTransition 1s  ease-out forwards infinite;
  }

  &__darkmode-svg{

    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0.5rem;
    &:hover{
        transform: scale(1.1);
    }

    .svg-darkmode__bg{
      fill: #D3E8E5;
      transform-origin: 50% 50%;
      transition: all 0.4s ease;
    }
  
    .svg-darkmode__sunMoon {
      transform-origin: 50% 50%;
      transition: all 0.4s ease;
      transform: rotate(-240deg);
      fill: transparent;
    }
    
    & > g {
      transform-origin: 50% 50%;
      scale: 1;
      transform: rotate(0deg);
      transition: scale 0.3s ease, opacity 0.2s ease; 
      z-index: -1;   

      path{
        fill: #6E869F;
      }
    }
  }
}


.header__scroll{
  position: fixed;
  translate: -50% 50%;
  width: 100%;
  left: 50%;
  bottom: 0rem;
  display: flex;
  width: 12rem;
  height: 12rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;

  &-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
  }

  &-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    z-index: 10;
    translate: 0px;
    position: absolute;
    
    &-h6{
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 3px;
      color: #56697C; 
    }
  
    &-line{
      display: inline-block;
      width: 1px;
      background-color:#56697C; ;
      height: 6rem;
    }
  }
}

.increase{
  transform: scale(1.05);
  border-color: #0F3154;
  color: #0F3154;

  &::before{
    height: 90%;
  }

  a{
    color: #0F3154;
  }
}

.decrease{
  transform: scale(0.95);
  border-color: rgb(90, 90, 90);

  a {
    color: rgb(90, 90, 90);
  }
}

@media only screen and (max-width: 600px) {

  .header{
    height: auto;
  }

  #me__group{
    translate: 25px 0px;
  }

  .header{

    &__title{
      text-align: center;

      &:before{
        content:"";
        position: absolute;
        bottom: -1rem;
        left: 50%;
        translate: -50% 0%;
        border-radius: 2px;
        background-color: #6E869F;
        width: 100px;
        height: 5px;
      }
      
      span{

      }
    }

    &__subtext{
      display: none;
    }

  }

  .header__container{
    grid-template-areas:
      'header-info'
      'svg-me'
      'svg-me'
      'header-nav';
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .header__nav{
    
    &-list{
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0rem;
      gap: 10px;
      translate: 0% 0%;
      width: 85%;
      margin: auto;
    }

    &-item{
      border-width: 3px;
      
      a{
        font-size: 1rem;
      }
    }
  }

  .header__rightside{

    > div{
      display: flex;
      flex-direction: column;
      translate: 0% 0%;
      width: 100%;
    }
  }

  .header-settings{
    display: none;
  }
}