@use 'library.scss';

.header{
    width: 100%;
    height: 100vh;
    display:flex;

    & > div {
        margin-top: 100px;
        margin-left: 3rem;
    }

    &__title{
        @include library.title-fonts(left);
    }

    &__subtext {
        @include library.subtext-font(800px, left);
    }
}