$main-bg: #f0f6fd;
$about-me__bg: rgb(246, 252, 255);
$skills__bg: rgb(246, 252, 255);
$portfolio__bg: rgb(223, 242, 244);
$contact__bg: rgb(246, 252, 255);
$primary-10: #e0f6ff;
$primary-30: #d5effc;
$primary-50: #a2d1ff;
$primary-70: #7aacde;
$primary-90: #011f4b;
$font-color-gray: #646464;
$font-color-navy: #09233e;
$font-color-white: #FAFAFA;
$color-40: #56697C;
$font-mono:'Roboto Slab', monospace;
$font-display: 'Roboto Slab', sans-serif;
$font-text: 'Red Hat Text', sans-serif;

@mixin MQ__sub-header__div-content-container(){

  flex-direction: column;
  justify-content: center;
  height: 280px;
  width: min(1050px, 100%);

  p {
    text-align: left;
    font-size: 1.4rem;
  }

  &-content-container{
    flex-direction: column;
    align-items: left;
    margin-left: 1.5rem;
    justify-content: center;
    width: min(1200px, 80%);
    transition: translate 0.5s cubic-bezier(.27,.54,.48,1);
    translate: -500px 0%;
    
    div{
      width: 100%;
    }
  }

  &-title{
    text-align: left;
    margin-bottom: 1rem;
    span{
      font-size: clamp(1.9rem, 12vw,2.6rem);
    }
  }

  & svg{
    width: 60%;
    height: auto;
  }

  &-bg{
    width: 95%;
    transition: translate 0.5s cubic-bezier(.27,.54,.48,1);
    translate: -500px 0%;
  }
}

@mixin subHeader(){

  &__header{
    width: 100%;
    height: 350px;
    position: relative;

    &-bg{
      position: absolute;
      border-radius: 0% 150rem 150rem 0%;
      background-color: $primary-30;
      width: 80%;
      height: inherit;
      transition: translate 0.7s cubic-bezier(.27,.54,.48,1);
      translate: -1300px 0%;
    }

    &-content-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: min(1200px, 90%);
      height: inherit;
      transition: translate 0.7s cubic-bezier(.27,.54,.48,1);
      translate: -1300px 0%;

      div{
        width: 63%;
      }
    }

    &-title{
      text-align: left;
      font-size: clamp(2rem, 8vw, 4rem);
      margin-bottom: 1.6rem;
      line-height: 1.2;
      color: $primary-90;
      font-family: $font-mono;
      font-weight: 700;
      position: relative;

      span{
        font-family: "Roboto Slab", monospace;
      }
    }

    &-subtitle{
      font-family: 'Red Hat Text';
      font-weight: 400;
      color: $primary-90;
      line-height: clamp(1.8rem, 5vw, 2.5rem);
      font-size: clamp(1.3rem, 5vw, 2rem);;
      transition-duration: 1s;
      transition-delay: 0s;
      transition-timing-function: ease;
      transition-property: opacity, translate;
    }

    svg{
      position: absolute;
      bottom: -2rem;
      right: 1.2rem;
      display: none;
    }

  }
}

@mixin intersectionHeader{
  
  &-bg{
    transform-origin: 0% 50%;
    translate: 0% 0%;
  }

  &-content-container{
    transform-origin: 0% 50%;
    translate: 0% 0%;
  }

  &-subtitle{
    opacity: 1;
    translate: 0px 0px
  }

  &-title{
    opacity: 1;

    span{
      display: inline-block;
      transform-origin: 50% 100%;
      animation: LetterAnim 1s 2s ease forwards;
    }
  }
}