$main-bg: #f0f6fd;
$about-me__bg: rgb(246, 252, 255);
$skills__bg: rgb(246, 252, 255);
$portfolio__bg: rgb(223, 242, 244);
$contact__bg: rgb(246, 252, 255);
$primary-10: #e0f6ff;
$primary-30: #d5effc;
$primary-50: #a2d1ff;
$primary-70: #06357c;
$primary-90: #011f4b;
$font-color-gray: #646464;
$font-color-navy: #09233e;
$font-color-white: #FAFAFA;
$color-40: #56697C;
$font-mono:'Roboto Slab', monospace;
$font-display: 'Roboto Slab', sans-serif;
$font-text: 'Red Hat Text', sans-serif;

@mixin sub-header{
  width: 100%;

  & > div{
    background-color: $primary-color-blue;
    position: relative;
    display: flex;
    padding: 1rem;
    z-index: 1;
  }
  
  &-content-container{
    width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  & h1{
    font-size: clamp(2rem, 8vw, 2.5rem);
    font-family: $font-display;
    font-weight: 800;
    color: $font-color-white;
  
    & span{
      color: $secundary-color-yellow;
    }
  }

  & p{
    font-size:1.1rem;
    color: $font-color-white;
    font-family: $font-text;
    font-weight: 400;  
    margin-top: 1.5rem;
  }

  & img{
    clip-path: circle(45%);
  }

  & svg:first-of-type{
    position: relative;
    fill: $primary-color-blue;
    transform: translate(0px, 6px);
    filter: drop-shadow(0px -4px 2px rgb(163, 163, 163));
  }

  & svg:last-of-type{
    position: relative;
    fill: $primary-color-blue;
    transform: translate(0px, -1px);
    filter: drop-shadow(0px 4px 2px rgb(163, 163, 163));
  }
}

@mixin MQ__sub-header__div-content-container(){

  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: min(1050px, 100%);


  p {
    text-align: center;
  }

  & > img{
    margin: auto;
    background-color: green;
  }

  &-content-container{
    flex-direction: column;

    div{
      width: 100%;
    }
  }

  &-title{
    text-align: center;
  }

  & svg{
    width: 60%;
  }

  &-bg{
    width: 100%;
  }
}

@mixin subHeader(){

  &__header{
    width: min(1200px, 90%);
    margin: auto;
    padding: 2rem;
    height: 350px;
    position: relative;

    &-content-container{
      padding: 2rem clamp(1rem, 5vw, 3.5rem);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #D3E8E5;
      width: 100%;
      height: inherit;

      div{
        width: 63%;
      }
    }

    &-title{
      text-align: left;
      font-size: clamp(2rem, 8vw, 4rem);
      margin-bottom: 1.6rem;
      line-height: 1.2;
      color: #183a5e;
      font-family: $font-mono;
      font-weight: 700;
      position: relative;
      opacity: 0;

      span{
        font-family: "Roboto Slab", monospace;
      }

    }

    &-subtitle{
      font-family: 'Roboto';
      font-weight: 400;
      color:#183a5e;
      line-height: 1.8rem;
      font-size: 1.3rem;
      opacity: 0;
      translate: 0px 25px;
      transition-duration: 1s;
      transition-timing-function: ease;
      transition-property: opacity, translate;
    }

    svg{
      width: 27%;
    }
  }
}
