@use 'library.scss';

#nav-mobile{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width:100%;
  top: 0px;
  z-index: 10;
}

.nav-mobile {

  &__topbar{
    width: 100%;
    height: calc(60px + 0.6rem);
    background: linear-gradient(to bottom, library.$main-bg 80%, #f0f6fd00);
    display: none;
  }

  &__list-item-container{
    display: none;    
    position: absolute;
    top:0px;
    right: 0px;
    min-height: 100vh;
    width: 100vw;
    background-color: #d5effc;

    span{
      position: absolute;
      width: calc(100% - 2.2rem);
      height: 2px;
      left: 1.1rem;
      margin: auto;
      background-color: #a2d1ff;
      top: 60px;
    }

    ul {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      height: 90vh;
    }

    li {
      margin: 1.5rem;
      width: 200px;
      animation: showOptions;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      list-style-type: none;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        left: 105%;
        bottom: 38%;
        width: 100%;
        height: 5px;  
        border-radius: 5px;
      }

      &[id="nav-mobile__about-me"]{
        animation-delay: 0.08s;
      }

      &[id="nav-mobile__skills"]{
        animation-delay: 0.16s;
      }

      &[id="nav-mobile__portfolio"]{
        animation-delay: 0.24s;
      }

      &[id="nav-mobile__contact"]{
        animation-delay: 0.32s;
      }
    }

    a {
      width: 200px;
      display: block;
      color: library.$primary-90;
      font-size: 2.6rem;
      font-weight: 600;
      text-align: right;
      font-family: library.$font-mono;
      text-decoration: none;
      position: relative;
      text-shadow:  2px 2px 1px #a2d1ff;
    }
  }
}


.hamburger-button{
  position: absolute;
  padding: 14px 16px 14px 14px;
  top: 0px;
  right: 0px;
  z-index: 100;
  fill: library.$primary-90;
  display: none;

  svg{
    translate: 0px 2px;
    filter: drop-shadow(2px 2px 1px #a2d1ff);
  }

  #hamburger-topBar{
    transform-origin: 0% 0%;
    transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
  }
  #hamburger-middleBar{
    transition: all ease 0.1s;
  }
  
  #hamburger-bottomBar{
    transform-origin: 0% 100%;
    transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
  }
}

.hamburger-button__close{

   #hamburger-topBar{
    transform: rotate(45deg) scaleX(1.1) translate(6px, -6px);
  }
  
   #hamburger-middleBar{
    opacity: 0;
  }
  
   #hamburger-bottomBar{
    transform: rotate(-45deg) scaleX(1.1) translate(6px, 6px);
  }
}

@media only screen and (max-width: 600px) {

  .hamburger-button {
    display: block;
  }

  .nav-mobile__topbar{
    display: block;
  }
}

@keyframes showOptions{
  from {
    opacity: 0;
    transform: translate(-100px, 0px);
  } 
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}