@use 'library.scss';

$height-nav-item: 200px;

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 0.85rem;
  color: library.$font-color-white;
  z-index: 10;
}

.nav{


  &__list-container {
    position: absolute;
    top: 0px;
    right: 100px;
  
    ul {
      display: flex;
      flex-direction: row;
    }

    li{
      background-color: library.$main-bg;
      list-style-type: none;
      width: 100px;
      height: 100px;
      transition: translate 0.3s ease;

      &:first-of-type{
        border-radius: 0px 2px 0px 0px;

        svg{
          border-radius: 0px 2px 0px 0px;
        }
      }

      &:last-of-type{
        border-radius: 0px 0px 2px 0px;

        svg{
          border-radius: 0px 0px 2px 0px;
        }
      }
    }


    a {
      font-family: library.$font-text;
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color:library.$font-color-white;

      div{
        font-size: 1.2rem;

        h6{
          color: red;
        }

      }

      svg{
        background-color: green;
      }

    }
  }

  &__progress{

    &-container{
      width: 100%;
      height: 2px;
      background: black;
    }

    &-bar{
      height: 2px;
      background: #D8D133;;
      width: 0%;
    }
  }
}

.show {
    display: block;
}


@media only screen and (max-width: 600px) {

  #nav{
    display:none;
  }
}

@keyframes desappear {
  20%{
    transform: scale(1);
    top: 0px;
  }

  40%{
    transform: scale(1);
    top: 10px;
  }

  100%{
    transform: scale(0.8);
    top: -3rem;
  }

}