@use 'library.scss';

$height-nav-item: 200px;

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 0.85rem;
  color: library.$font-color-white;
  z-index: 10;
}

.nav{

  &__container {
    position: absolute;
    top: 0px;
    right: 0.8rem;
    translate: 0px -100px;
    transition: translate 0.3s ease;
  
    ul {
      display: flex;
      position: relative;
      flex-direction: row;
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.02))
    }

    div{
      display: flex;
      flex-direction: row;

      &:hover ~ span{
        opacity: 1;
      }
    }

    li{
      background-color: library.$main-bg;
      list-style-type: none;
      width: 120px;
      height: 60px;
      opacity: 0;
      transition: translate 0.3s ease, background-color 0.2s ease;

      &:first-of-type{
        border-radius: 0px 0px 0px 5px;
      }

    }

    span{
      position: absolute;
      opacity: 0;
      transition: translate 0.2s cubic-bezier(.25,0,.25,1), opacity 0.3s ease;
      clip-path: polygon(40% 0%, 60% 0%, 60% 100%, 40% 100%);
      bottom: 0.9rem;
      width: 120px;
      height: 2px;
      background-color: rgb(193, 193, 193);
    }


    a {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      align-items: center;
      justify-content: center;

      h6{
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;
        color: rgb(59, 59, 59);
      }

    }

    button {
      cursor: pointer;
      border: none;
      width: 60px;
      height: 60px;
      background-color: library.$primary-color-blue;

      svg{
        width: 19.5px;
        height: 12px;
        rotate: 180deg;
        transform-origin: 50% 50%;
        transition: rotate 0.3s ease;
      }

      path{
        fill: library.$main-bg;
      }
    }
  }

  &__list-container{
    transition: translate 0.3s ease;
  }

  &__list-hidden{
    translate: 0px -100px;
    
    & ~ button svg {
      rotate: 0deg;
    }
  }
}

.nav__show {
  translate: 0px 0px;
}



@media only screen and (max-width: 600px) {

  #nav{
    display:none;
  }
}