@use 'library.scss';

#portfolio{
  background-color: library.$portfolio__bg;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.portfolio{

  &__header{
    width: 1050px;
    margin: auto;
    padding: 2rem;
    height: 300px;
    position: relative;

    &-bg{
      background-color: library.$primary-color-blue;
      left: -5%;
      position: absolute;
      width: 110%;
      height: inherit;
    }

    &-content-container{
      padding: 2rem 3rem;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: lightblue;
      width: 1050px;
      height: 300px;
    }

    &-part-1{
      border-radius: 3px;
      clip-path: polygon(0% 0%, 25.05% 0%, 25.05% 100%, 0% 100%);
    }

    &-part-2{
      clip-path: polygon(24.95% 0%, 50.05% 0%, 50.05% 100%, 24.95% 100%);
    }

    &-part-3{
      clip-path: polygon(49.95% 0%, 75.05% 0%, 75.05% 100%, 49.95% 100%);
    }

    &-part-4{
      border-radius: 3px;
      clip-path: polygon(74.95% 0%, 100% 0%, 100% 100%, 74.95% 100%);
    }

    .portfolio__title{
      text-align: left;
      font-size: 3rem;
      line-height: 1.2;
      color: #09233e;
      font-family: library.$font-mono;
      font-weight: 600;
      position: relative;
    }

    .portfolio__subtitle{
      font-family: library.$font-text;
      font-size: 1.5rem;
    }
  }

  &__title {
    
    
  }

  &__subtext{
  }

  

  &__flex-container{
    width: min(100%, 1300px);
    margin: 3rem auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    width: 48%;
    aspect-ratio: 1.3 / 1;
    margin: 0.5rem;
    background-color: #D9D9D9;
    overflow: hidden;

    figure{
      position: relative;
      width: 100%;
      height: 100%;
    }

    img{
      width:  inherit;
      height: inherit;
      object-fit:cover;
      transition: transform 0.2s linear;
      overflow: hidden;
    }

    figcaption {
      position: absolute;
      top: 0px;
      left: 0px;
      width: inherit;
      height: inherit;
      z-index: 1;

      .portfolio__item-background{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-image: linear-gradient(to top, #041d36, #041d36, #041d36cb, #041d3682 , rgb(122, 122, 122, 0));
        transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      .portfolio__item-content{
        opacity: 0;
        position: absolute;
        bottom: 0px;
        padding: 2rem;
        width: inherit;
        transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      .portfolio__item-links{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        font-size: 0.9rem;

        &-github{
          display: flex;
          flex-direction: row;
          align-items: center;
          border: 1px solid white;
          border-radius: 3px;
          padding:0.3rem 0.7rem;
        }

        &-visit{
          display: inline-block;  
          font-weight: 400;
          border: 1px solid transparent;
          padding:0.3rem 0.7rem;
        }

      }

      .portfolio__item-header{
        margin-bottom: 1.2rem;

        p:first-of-type {
          font-size: 0.8rem;
          color: rgb(186, 186, 186);
          font-style: italic;
        }

        h3{
          color: white;
          font-family: library.$font-display;
          font-weight: 800;
          font-size: 1.8rem;
        }

        p:last-of-type{
          font-size: 0.9rem;
          width: min(100%, 400px);
          color:white;
          line-height: 1.2;
        }

        span{
          color: library.$secundary-color-yellow;
        }
      }

      &:hover{

        .portfolio__item-number{
          opacity: 1;
        }

        .portfolio__item-background{
          opacity: 1;
        }

        .portfolio__item-content{
          opacity: 1;
        }

        ~ img {
          transform: scale(1.03);
        }
      }

      a{
        cursor: pointer;
        color: white;
        display: flex;
        display: inline-block;
        flex-direction: row;
        align-items: center;


        &[class="portfolio__visit-link"]{
          border: library.$secundary-color-yellow 1px solid;
          border-radius: 50px;
          display: inline-block;
          padding:0.5rem 0.6rem;
          font-size: 1rem;
          text-align: center;
  
          &:hover{
            background-color: library.$secundary-color-yellow;
            color:  #041d36;
          } 
        }

        &[class="portfolio__about-link"], &[class="portfolio__github-link"]{
          font-size: 0.8rem;
        }

        &[class="portfolio__github-link"]{
          font-size: 0.8rem;
          margin-top: 0.2rem;
        }

        &:visited, &:active, &:link{
          text-decoration: none;
        }

        & svg{
          fill: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .portfolio__item {
    width: 45%;
  }
}

@media only screen and (max-width: 600px){
  .portfolio__item {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .portfolio__header-content-container{
    @include library.MQ__sub-header__div-content-container();
  }
}

