@use "config.scss";
@use "library.scss";
@use 'body.scss';
@use 'header.scss';
@use 'nav.scss';
@use 'nav-mobile.scss';
@use 'about-me.scss';
@use 'skills.scss';
@use 'portfolio.scss';
@use 'contact.scss';

.svg-icons{
    fill: #767676;
    display:inline-block;
    background-color: var(--white);
    transition: all ease 0.3s;
    margin: 1rem;

    & > svg {
        height: 80px;
        width: 80px;
    }

    &:hover{
        cursor: pointer;
        fill: library.$primary-color-blue;
    }

    & > h5 {
        text-align: center;
        transition-property: letter-spacing color;
        transition-timing-function: ease;
        transition-duration: 0.1s;
        color: library.$font-color-gray;
    }
    &:hover > h5 {
        color: library.$primary-color-blue;
        letter-spacing: 0.08rem;
    }
}

.block{
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    height: 350px;
    color:  black;
    font-size: large;
    opacity: 0;
}

.extra {
    transition-property: opacity, transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translate(-50px, 0px);
    opacity: 1.0;
}

.s{
    height: 250px;
    width: 1000px; 

    &__flex-container{
        display:none;
        background-color: red;
        height: 100%;
        width: 100%; 
    }
    
    &__description{
        display:none;
        background-color: blue;
        height: 100%;
        width: 100%; 
    }
}
  
@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
}



  /* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}
