@use "config.scss";

$main-bg: #FAFAFA;
$primary-color-blue: #041D36;
$font-color-gray: #646464;
$font-mono:'Red Hat Mono', monospace;
$font-display: 'Red Hat Display', sans-serif;
$font-text: 'Red Hat Text', sans-serif;


body {
    background-color: $main-bg;
}

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0rem;

    &__left-side{
        flex-basis: 300px;
    }


    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-right: 5rem;

        & > li {
            margin: 0rem 0.3rem;
            list-style-type: none;
        }
    }
    

    &__list-item {

        & > a{
            font-family: $font-mono;
            text-decoration: none;
            padding:0.5rem;
            color:#646464;
        }
    }

    &__language{
        font-family: $font-mono;
        
        &--btn{
            padding: 0.2rem 0.5rem;
            border: 1px solid lighten($font-color-gray, 20);
            border-radius: 11px;
            background-color: $main-bg;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: all ease 0.3s;

            & > div{
                display: inline-block;
                font-family: $font-mono;
                font-size: 1rem;
                color: $font-color-gray;
            }

            & > svg {
                margin: auto 0px auto 0.6rem;
                transform: translate(0px, 2px);
            }

            &:hover{
                background-color: #417BB5;
                color:white;

                & > div {
                    color: white;
                }
            }

        }

        &--dropdown-content{
            position: absolute;
            display: none;
            flex-direction: column;
            padding: 0.5rem;
            border: 2px solid $primary-color-blue; 
            border-radius: 11px;
            width: 150px;

            & > a {
                width: 100%;
                font-family: $font-mono;
                font-size: 1rem;
            }
        }
    }
}