@use "config.scss";
@use "library.scss";
@use 'body.scss';
@use 'header.scss';
@use 'nav.scss';
@use 'about-me.scss';


#skills {

    & > div:first-child {
        padding: 3rem;
        background-color: #417BB5;

        & > div{
            max-width: 900px;
            margin: 0px auto;
        }
    }
}


.skills {

    &__title {
        @include library.title-fonts(right);
        color: white;
    } 

    &__subtext{
        @include library.subtext-font(700px, right)
    }

    &__container {
        margin: 3rem 0rem;
        border:#DDD 1px solid;
        border-radius: 30px;
        position: relative;

        & > h3 {
            display: inline-block;
            padding: 0px 0.5rem;
            position: absolute;
            top: -14px;
            left: 60px;
            background-color: library.$main-bg;
            color: #666;
            align-items: center;
            justify-content: center;
        }
    }

    &__flex-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 1rem;
    }

    &__description {
        display: flex;
        margin: 2rem;

        & > svg {
            margin: 0rem 1rem;
        }
        & > div {
            padding:0rem 1rem;
            position: relative;

            & > h3{
                font-size: 1.8rem;
                color: library.$primary-color-blue;
            }

            & > p{
                margin-top: 1rem;
                font-size: 1.2rem;
                font-family: library.$font-text;
                color: library.$font-color-gray;
            }

            & > button {
                border: none;
                cursor: pointer;
                position: absolute;
                bottom: 0px;
                background-color: #CCC;
                padding: 0.2rem 1rem;
                font-size: 1rem;
            }
        }
    }
    

    &__show{
        display:none;
    }

}

.svg-icons{
    fill: #767676;
    display:inline-block;
    background-color: var(--white);
    transition: all ease 0.3s;
    margin: 1rem;

    & > svg {
        height: 80px;
        width: 80px;
    }

    &:hover{
        cursor: pointer;
        fill: library.$primary-color-blue;
    }

    & > h5 {
        text-align: center;
        transition-property: letter-spacing color;
        transition-timing-function: ease;
        transition-duration: 0.1s;
        color: library.$font-color-gray;
    }
    &:hover > h5 {
        color: library.$primary-color-blue;
        letter-spacing: 0.08rem;
    }
}

.portfolio{

    &__title {
        @include library.title-fonts(center);
    }

    &__subtext{
        @include library.subtext-font(60%, "center")
    }

    &__flex-container{
        width: 90%;
        margin: 3rem auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 30%;
        height: 200px;
        margin: 5px;
        background-color: #D9D9D9;
        border-radius: 1.2rem;
    }
}

.block{
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 350px;
    color:  black;
    font-size: large;
    opacity: 0;
}

.extra {
    transition-property: opacity, transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transform: translate(100px, 0px);
    opacity: 1.0;
}

.s{
    height: 250px;
    width: 1000px; 

    &__flex-container{
        display:none;
        background-color: red;
        height: 100%;
        width: 100%; 
    }
    
    &__description{
        display:none;
        background-color: blue;
        height: 100%;
        width: 100%; 
    }
}