@use 'library.scss';

#about-me{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-me{

  @include library.subHeader();

  &__hobbies-container{
    width: 100%;
    display: flex;
    display: none;
    justify-content: space-around;
    align-items: baseline;
  }

  &__hobby{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:30%;
    height: inherit;
    text-align: center;
    line-height: 1.65;
    
    div{
      width: 100%;
      aspect-ratio: 1/1;
      background-color:  lightblue;
    }

    h3{
      width: 100%;
      font-size: 2rem;
    }
  }

  &__content{
    width: min(1150px, 90%); 
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;

    &-rightside{
      width: min(550px, 100%);
      height: inherit;
    }

    &-leftside {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 50%;
      height: auto;
    }

    > span{
      display: none;
    }
  }

  &__info{

    p{
      margin: auto;
      margin-top: 0.9rem;
      font-family: 'Red Hat Text';
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.7;
      display: block;
      color: library.$primary-90;
    }

    p:first-of-type{
      margin-top: 0rem;
    }
  }

  &__links{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0rem auto;
    align-items: center;
    row-gap: 0.5rem;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 500;
    
    &-resume {
      border: none;
      background-color: library.$primary-90;
      position: relative;
      cursor: pointer;
      width: 100%;
      font-family: inherit;
      font-weight: inherit;
      padding: 1rem 0rem;
      color: white;
      border-radius: 0.4rem;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-property: color;
      text-decoration: none;
      overflow: hidden;

      &:after{
        content: "";
        position: absolute;
        top: 0px;
        left: -10rem;
        width: 10rem;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        height: 100%;
        background-color: rgba(255, 255, 255, 0.738);
      }

      &:hover::after{
        left: 100%;
        transition: left 0.4s ease;
      }
    }

    &-github{
      padding: 1rem 3rem;
      position: relative;
      font-family: inherit;
      font-weight: inherit;
      color: library.$primary-90;
      
      &:active, &:link, &:visited{
        text-decoration: none;
        color: library.$primary-90;
      }

      &:after{
        content: "";
        position: absolute;
        bottom: 0.3rem;
        right: 0px;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        background-color: library.$primary-90;
        transition: transform 0.2s ease;
        transform-origin: 100% 50%;
      }

      &:hover::after{
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {

  .about-me__header{
    @include library.MQ__sub-header__div-content-container();
  }

  .about-me{

    &__content{
      width: 100%;
      flex-direction: column;

      &-rightside{
        width: 100%;
        padding: 0rem 1rem;
      }
    }

    &__info{
      flex-direction: column;
      width: 100%;
      padding: 1rem 0.5rem;
    }

    &__hobbies{

      &-container{
        width: 60%;
        height: calc(60vw + 4rem);
        margin: auto;
        overflow-x: hidden;
        position: relative;
        display: flex;
        display: none;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
      } 
  
      &-rightBtn{
        display: none;
        width: 2rem;
        height: 2rem;
        background-color: red;
      }
  
      &-leftBtn{
        width: 2rem;
        height: 2rem;
        display: none;
        background-color: blue;
      }
    }

    &__hobby{
      position: absolute;
      width: 100%;
      display: flex;
      transition: left 0.3s ease;
  
      &-item1{
        left: 0%;
      }
      
      &-item2{
        left: 110%;
      }
  
      &-item3{
        left: 220%;
      }
    }
  }
}