@use "library.scss";

/* Contact */
#contact{
  min-height: 100vh;
  position: relative;
}

.contact{

	&__container{
		margin: auto;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
      'empty form empty2'
      'social-links social-links social-links'; 
    grid-template-columns: auto min(1150px, 100%) auto;
    grid-template-rows:  auto 150px;
	}

	&__form-cont{
    grid-area: form;
		display: flex;
		gap: 1rem;
		justify-content: center;
		flex-direction: column;
		width: min(90%, 520px);
    margin-bottom: 2.5rem;

    h1{
      font-family: library.$font-mono;
      color: library.$primary-90;
	    font-weight: 600;
		  width: 100%;
		  font-size: clamp(1.9rem, 7vw, 4rem);
		  line-height: clamp(55px, 13vw, 66px);
      position: relative;
      margin-bottom: 0.5rem;
    }

    p{
      padding: 0rem 0.1rem;
      font-family: "Red Hat Text";
      font-size: 1.1rem;
      color: library.$primary-90;
      line-height: 1.5;
    }
	}

	&__form{

		width: 100%;

		fieldset{
			width: 100%;
			position: relative;
			border: 0px;
			margin: 2rem 0px;

			&[data-focused='true'] .contact__form-label:not(.contact__form-label[for='user__content']){
				color:#A1A1A1;	
				font-size: 0.8rem;
				left: 0px;
				translate: 0 -20px;
			}

			&[data-focused='true'] .contact__form-label[for='user__content']{
				transform-origin: 50% 50%;
				color:#A1A1A1;	
				scale: 0.95;
				translate: 0 -20px;
				z-index: 2;
			}
		}

		&-label{
			position: absolute;
			color: library.$color-40;
			font-family: "Roboto";
			font-weight: 500;
			font-size: 0.9rem;
      top: 0.4rem;
      left: 0.5rem;
      transition: all 0.2s ease;

			&[for='user__content']{
				background-color: library.$main-bg;
			  padding: 0rem 0.3rem;
				top:0.8rem;
				left: 0.9rem;
			}
		}

		textarea{
			width: 100%;
			resize: none;
			position: relative;
			border-radius: 10px;
			padding: 1rem;
      border: 2px solid library.$primary-90;
			color: library.$primary-90;
			background-color: transparent;
			font-weight: 500;
			font-size: 1rem;
			font-family: 'Roboto';
			z-index: 1;
			
			&:focus {
				outline: 0;
			}
		}

		input {

			&[type="text"], &[type="email"] {
				width: 100%;
				position: relative;
				padding: 0.6rem 1rem 0.1rem 1rem;
        border: none;
				background-color: transparent;
				border-bottom: 2px solid library.$primary-90;
				color: library.$primary-90;
				font-size: 1rem;
				font-weight: 500;
				font-family: 'Roboto';
				z-index: 1;
			}

			&[type="submit"] {
				cursor: pointer;
				position: absolute;
				left: 50%;
        border: none;
				transform: translate(-50%, -50%);
        width: 100%;
				padding: 1rem 5.5rem;
				font-family: 'Roboto';
				letter-spacing: 0.1rem;
				font-weight: 500;
        border-radius: 0.4rem;
        background-color: library.$primary-90;
        color: white;
        transition: filter 0.3s ease;

				&:hover{
					filter: drop-shadow(0px 0px 1px #56697c81)
				}

        &:disabled{
          filter: grayscale(1);
          
          & + span{
            scale: 1;
            opacity: 1;
          }
        }
			}

	
			&:focus {
				outline: 0;
			}
	
		}

		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: #0e3c4d;
		}
	}

  &__response{ 

    &-green{
      position: absolute;
      top: 0px;
      transform: translate(0%, -50%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 0rem;
      background-color: rgb(185, 255, 185);
      border-radius: 0.4rem;
      font-family: "Roboto";
      color: rgb(0, 92, 0);
      border: 2px solid  rgb(0, 92, 0);
      font-weight: 500;
      display: none;
      scale: 0.5;
      opacity: 0;
      animation: showResponse 4s ease forwards;
    }

    &-red{
      position: absolute;
      top: 0px;
      transform: translate(0%, -50%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
			padding: 0.8rem 0rem;
      background-color: rgb(255, 185, 185);
      border-radius: 0.4rem;
      font-family: "Roboto";
      color: rgb(180, 15, 15);
      border: 2px solid rgb(180, 15, 15);
      font-weight: 500;
      display: none;
      scale: 0.5;
      opacity: 0;
      animation: showResponse 4s ease forwards;
    }
  }
}

.contact-end{

  grid-area: social-links;
  width: 100%;
  background-color: library.$primary-30;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	justify-content: space-around;


	&__social-links-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		a {
			position: relative;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			margin: 0px 15px;
			transition: background-color ease 0.3s;

			&:hover {
				background-color: #6E869F;
			}
		}
	}

	&__social-link{
		position: absolute;
		fill: library.$font-color-navy;

		z-index: 3;
		transition: fill ease 0.3s;
	
		&:hover{
			cursor: pointer;
			fill: library.$main-bg;
		}
	}

	&__handcrafted-by{
		text-align: center;
    color: #56697C;

		p:first-child {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 24px;
		}

		p:last-child{
			font-size: 1rem;
			font-weight: 400;
			line-height: 21px;
		}
	}
}

.circle{

  &__loading{
    position: absolute;
    top: 50%;
    right: 0.5rem;
    border: 4px solid library.$light-gray;
    border-radius:100%;
  }

  &__first{
    margin: -17px 0 0 -17px;
    height: 34px;
    width: 34px;
    border-top-color: library.$primary-80;
    animation: loading 1s infinite linear;
    scale: 0.5;
    opacity: 0;
    transition: scale ease 0.3s, opacity ease 0.3s;
  }

  &__second{
    margin: -10px -5px 0 -10px;
    height: 20px;
    width: 20px;
    border-top-color: library.$primary-80;
    animation: loading 1.5s infinite linear;
  }

}

@keyframes loading{
  from{ rotate: 0deg};
  to{ rotate: 360deg};
}

@keyframes showResponse{
  0%{ 
    opacity: 0;
    scale: 0.9;
  }
  5%{
    opacity: 1;
    scale: 1;
  }
  92%{
    opacity: 1;
  }
  100%{ 
    opacity: 0;
    scale: 1;
  }
}

@media only screen and (max-width: 900px){

  .contact__container{ 
    grid-template-columns: auto 430px 35% auto;
    grid-template-rows:  auto 150px;
  }
}

@media only screen and (max-width: 780px){

	.contact__container{
    grid-template-areas:
      'form'
      'social-links'; 
    grid-template-columns: auto;
    grid-template-rows: auto120px;
    column-gap: 3rem;
	}

	.contact__form-cont{
		gap: 0px;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-end;
	} 

	.contact-end__phrase{
		display: none;
	}
}

@media only screen and (max-width: 600px){

	.contact__container{
    grid-template-rows: auto 120px;
	}
}