@use 'library.scss';

$DM-font: #f3f3f3;
$DM-main-bg: rgb(34, 34, 34);
$DM-primary-70: #512c59;
$DM-primary-50: #805a89;
$DM-primary-30: #988ab1;
$DM-primary-10: #bcafd2;
$DM-gray-10: #dedede;
$DM-gray-30: #b7b7b7;
$DM-gray-50: #808080;
$DM-gray-70: #3e3e3e;
$DM-gray-90: #303030;


@mixin subHeaderDM{

  &__header{
    &-bg{
      background-color: $DM-primary-50;
    }

    &-title{
      color: $DM-font;
      span{color:$DM-font}
    }
  }
}

.svg-darkmode__sunMoon[data-darkmode="true"] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  stroke: library.$primary-50;
  d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
}
  
.svg-darkmode__group[data-darkmode="true"]  {
  transform-origin: 50% 50%;
  scale: 0.9;
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  opacity: 0; 
}

.svg-darkmode__bg[data-darkmode="true"] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  fill: $DM-gray-70;
  transition-timing-function: cubic-bezier(.13,.54,.5,.99);
  d: path("M79.5 63C78.8572 69.3899 66.7493 79.5 49 79.5C31.2507 79.5 19 65.041 19 49C19 35.5711 24.5 25.5 29.4999 22C31.2719 21.5699 31.7018 25.6877 31.4999 27C29.4999 40 47.0759 69.7942 76 60.5C77.9283 59.8804 79.6421 61.5874 79.5 63Z");
}

body[data-darkmode="true"]{
  background-color: $DM-main-bg;
  p{
    color: $DM-font;
  }

  a{
    color: $DM-font;
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
    }
    
  &::-webkit-scrollbar-track {
  background-color: $DM-gray-70;
  }
  
  &::-webkit-scrollbar-thumb {
    height: 10rem;
    background-color: library.$primary-50;
    border-radius: 2px;
  }
}

//header
.header__language-btn[data-darkmode="true"] {
  color: $DM-font;

  .header__language{
    &-ES{
      padding: 1.6rem 1.2rem;
      text-shadow:  2px 2px 1px $DM-main-bg;
    }

    &-EN{
      padding: 1.6rem 1.2rem;
      text-shadow:  2px 2px 1px $DM-main-bg;
    }
  }

}

.header__nav[data-darkmode="true"]{

  .header__nav-item{
    background-color: library.$primary-50;

    a {
      color: $DM-main-bg !important;
    }
  }
}

.header__info[data-darkmode="true"]{

  .header__info{
    
    &-btn path, &-btn g{
      fill: library.$primary-50;
    }

    &-text{
      background: $DM-gray-70;
      border: 1px solid library.$gray;
      
    }
  }
}


.header__rightside[data-darkmode="true"]{
  .header{
    &__title{
      color: $DM-font;
      span{color:$DM-font}
    }

  }
}

//language
.language-btn[data-darkmode="true"]{
  
  background-color: $DM-gray-70;
  color: library.$primary-50;
  

  .language-moved{
    .language-ES{
      top: -100%
    }
    .language-EN{
      top: 0px
    }
  }

  
}

@media only screen and (max-width: 600px) {

  .language-btn[data-darkmode="true"]{
    background-color: $DM-gray-90;
    color: library.$primary-50;
  }

  .svg-darkmode__bg[data-darkmode="true"] {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    fill: $DM-gray-90;
    transition-timing-function: cubic-bezier(.13,.54,.5,.99);
    d: path("M79.5 63C78.8572 69.3899 66.7493 79.5 49 79.5C31.2507 79.5 19 65.041 19 49C19 35.5711 24.5 25.5 29.4999 22C31.2719 21.5699 31.7018 25.6877 31.4999 27C29.4999 40 47.0759 69.7942 76 60.5C77.9283 59.8804 79.6421 61.5874 79.5 63Z");
  }

}

//nav-mobile
.nav-mobile[data-darkmode='true']{
  
  .nav-mobile{
    &__topbar{
      background: $DM-main-bg;

      &-name{
        color: $DM-font;

        &:visited, &:link, &:active{
          color: $DM-font;
        }
      }
    }
  
    &__list-item-container{
      background-color: $DM-gray-70;
  
      span{
        background-color: $DM-main-bg;
      }
  
      a {
        color: $DM-font;
        text-shadow:  2px 2px 1px $DM-main-bg;
      }
    }
  }
  
  #hamburger-topBar,
  #hamburger-middleBar,
  #hamburger-bottomBar{
    fill: $DM-font
  }
}

.loading[data-darkmode="true"]{

  background-color: $DM-main-bg;

  .svg__computer{

    width: 100px;
    height: 100px;
    opacity: 1;
  
    &-dot{
      stroke: $DM-gray-50;
    }
  
    &-line{
      stroke: library.$primary-50;
    }
  
    &-dash{
      stroke: $DM-gray-50;
    }
  
    &-button{
      opacity: 0;
      animation: appear ease 0.2s forwards;
      animation-delay: 0.8s;
      fill: $DM-gray-50;
    }
  
    &-block{
      fill: library.$primary-50;
      transform-origin: 20% 0%;
      animation: appearScale 0.5s ease forwards;
    }
  }
}

//nav
#nav[data-darkmode='true']{

  color: library.$font-color-white;
  background-color: $DM-main-bg;
  border-bottom: 1px solid $DM-gray-50;

  .nav{
  
    &__name{
      color: $DM-font;
      
      &:visited, &:link, &:active{
        color: $DM-font;
      }
    }
  
    &__list-container{
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.02));
  
  
      span{
        background-color: library.$primary-50;
      }
  
      a {
        color: $DM-font;
      }
    }
  }
}

//about-me
.about-me[data-darkmode='true']{
  
  .about-me{
    @include subHeaderDM();

    &__links{
      
      &-resume {
        background-color: library.$primary-70;
        color: $DM-gray-70;
      }

      &-github{

        color: library.$primary-50;

        &:active, &:link, &:visited{
          color: library.$primary-50;
        }

        &:after{
          content: "";
          background-color: library.$primary-50;
        }
      }
    }
  }

  p{
    color: $DM-font;
  }

}

//skills
.skills[data-darkmode="true"]{

  .skills{
    @include subHeaderDM();

    &__container {


      & > h3 {
        background-color: library.$main-bg;
        color: #666;
        align-items: center;
        justify-content: center;
      }
    }  

    &__description {
      border: 1px solid $DM-gray-30;
      background-color: transparent;
    }
  }

  .skills__radial{
    &-container{
      background-color: transparent;
    }

    &-bg{
      &-backend{
        border: 1px solid $DM-gray-30;
        background-color: $DM-gray-70;
      }

      &-frontend{
        border: 1px solid $DM-gray-30;
        background-color: $DM-gray-70;
      }
    
      &-text span{
        color: library.$primary-50;
      }
    }
  }

  .skills__circle-path-frontend{
    background-color: $DM-gray-70;
  }

  .skills__circle-path-backend{
    background-color: $DM-gray-70;
  }

  .skillElement{
    fill: library.$primary-50;

    & > h5 {
      color: $DM-gray-30;
    }

    &:hover > h5 {
      color: $DM-font;
    }
  }

}


//loading
.loading[data-darkmode="true"]{

  .loading{
    background-color: $DM-main-bg;

    &__text{
      color: $DM-font
    }

    &__bar{
      background-color: $DM-font;
    }
  }
}

//portfolio
.portfolio[data-darkmode="true"]{
  
  .portfolio{
    @include subHeaderDM();

    &__item {
      border-color: $DM-gray-50;
      &-header{
        &-name{
          span{
            color: library.$primary-30;
          }
        }
  
        &-technologies{
          color: gray;
        }

        &-status{
          
          span[data-text="portfolio-project-status-pending"]{
            color: #fc5656;
          }
  
          span[data-text="portfolio-project-status-in-progress"]{
            color: #ffff81;
          }
          
          span[data-text="portfolio-project-status-deployed"]{
            color: rgb(0, 200, 0);
          }
        }
      }
      
      &-link-github svg{
        fill: library.$primary-30;
      }

      &-locker{
        fill: #ffff81 !important;
      }
    }
  }

  .visit-locked{
    color: $DM-gray-50;
  }
}

//contact
.contact[data-darkmode="true"]{

  .contact__form-cont{

    h1{
      color: $DM-font;
    }
	}

  .contact__form{
		fieldset{

			&[data-focused='true'] .contact__form-label:not(.contact__form-label[for='user__content']){
				color:library.$primary-50;	
			}

			&[data-focused='true'] .contact__form-label[for='user__content']{
				color:library.$primary-50;	
			}
		}

		&-label{
			color: $DM-gray-30;

			&[for='user__content']{
				background-color: $DM-main-bg;
			}
		}

		textarea{
      border-color: $DM-gray-50;
			color: $DM-font;
			background-color: transparent;
		}

		input {

			&[type="text"], &[type="email"] {
				background-color: transparent;
				border-color: $DM-gray-50;
				color: $DM-font;
			}

			&[type="submit"] {
        background-color: library.$primary-70;
        color: $DM-gray-70;

				&:hover{
					filter: none;
				}

        &:disabled{
          filter: grayscale(1);
        }
			}
		}

		p {
			color: #0e3c4d;
		}
	}

  
  .contact-end{
  
    border-top: 2px solid $DM-gray-50;
    background-color: $DM-gray-70;
  
    &__social-links-container a:hover {
      background-color: library.$primary-70;
    }
  
    &__social-link{
      fill: library.$primary-70;
  
      &:hover{
        fill: $DM-gray-70;
      }
    }
  
    &__handcrafted-by{
      color: $DM-gray-50;
    }
  }
}
