@use 'library.scss';

.darkmode-btn_svg{

  &__const{
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: visible;
    padding: 0.2rem;

    &:hover{
      transform: scale(1.1);
    }
  }

  &__bg{
    fill: library.$primary-10;
    transform-origin: 50% 50%;
    transition: all 0.4s ease;
  }
  
  &__sunMoon {
    transform-origin: 50% 50%;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-property: transform, d;
    transform: rotate(-240deg);
    fill: transparent;
    stroke: library.$primary-90;

    &[darkmode="true"]{
      transform-origin: 50% 50%;
      transform: rotate(0deg);
      transition-timing-function: cubic-bezier(.13,.54,.5,.99) ;
      d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
    }
  }
      
  &__group {
    transform-origin: 50% 50%;
    scale: 1;
    transform: rotate(0deg);
    transition: scale 0.3s ease, opacity 0.2s ease; 
    z-index: -1;   

    path{
      fill: library.$primary-90;
    }

    &[darkmode="true"]{
      transform-origin: 50% 50%;
      transform: scale(0.5);
      transform: rotate(240deg);
      transition-timing-function: cubic-bezier(.13,.54,.5,.99);
      opacity: 0;
    }
  }
}

.darkmode-btn_svg__cont[data-darkmode="true"] > .darkmode-btn_svg{
  &__sunMoon{
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(.13,.54,.5,.99) ;
    d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
  }

  &__group{
    transform-origin: 50% 50%;
    transform: scale(0.5);
    transform: rotate(240deg);
    transition-timing-function: cubic-bezier(.13,.54,.5,.99);
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {

  .svg-darkmode{
    width: 60px;
    height: 60px;

    .svg-darkmode__bg{
      fill: library.$primary-50;
    }

    .svg-darkmode__sunMoon{
      stroke: library.$primary-90;
    }
    
    .svg-darkmode__group path{
      fill: library.$primary-90;
    }
  }
}