@use 'library.scss';

.language{
  
    &-btn{
      cursor: pointer;
      position: relative;
      overflow: hidden;
      height: 40px;
      width: 40px;
      font-size: 0.9rem;
      border-radius: 50%;
      color: library.$primary-90;
      font-family: "Roboto Mono";
      font-weight: 400;
      border: none;
      background-color: library.$primary-10;
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      transition: top 0.15s ease;
    }

    &-ES{
      font-family: inherit;
      width: inherit;
      height: inherit;
      line-height: 1.1rem;
      position: absolute;
      font-size: inherit;
      transition: inherit;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-EN{
      position: absolute;
      width: inherit;
      height: inherit;
      font-size: inherit;
      font-family: inherit;
      transition: inherit;
      line-height: 1.1rem;
      top: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

.language-moved{
  .language-ES{
    top: -100%
  }
  .language-EN{
    top: 0px
  }
}

@media only screen and (max-width: 600px) {

  .language{
    
    &-btn{
      width: 60px;
      height: 60px;
      font-size: 1.2rem;
      color: library.$primary-90;
      font-family: library.$font-mono;
      font-weight: 500;
      background-color: library.$primary-50;
    }  
  }

}
