$main-bg: #f0f6fd;
$about-me__bg: rgb(246, 252, 255);
$skills__bg: rgb(246, 252, 255);
$portfolio__bg: rgb(223, 242, 244);
$contact__bg: rgb(246, 252, 255);
$primary-10: #d2e9ff;
$primary-30: #bbe6fb;
$primary-50: #90c7ff;
$primary-70: #7aacde;
$primary-80: #1b7cde;
$primary-90: #00043c;
$light-gray: rgb(236, 236, 236);
$gray: rgb(192, 192, 192);
$font-color-gray: #2b2b2b;
$font-color-navy: #09233e;
$font-color-white: #FAFAFA;
$color-40: #56697C;
$font-mono:'Roboto Slab', monospace;
$font-display: 'Roboto Slab', sans-serif;
$font-text: 'Red Hat Text', sans-serif;

@mixin MQ__sub-header__div-content-container(){

  flex-direction: column;
  justify-content: center;
  height: 220px;
  width: min(1050px, 100%);

  p {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &-content-container{
    flex-direction: column;
    align-items: left;
    margin-left: 1.5rem;
    justify-content: center;
    width: min(1200px, 80%);
    transition: translate 0.1s cubic-bezier(.27,.54,.48,1), opacity 0.25s ease;
    translate: 500px 0%;
    
    div{
      width: 100%;
    }
  }

  &-title{
    text-align: left;
    margin-bottom: 1rem;
    span{
      font-size: clamp(1.9rem, 12vw,2.6rem);
    }
  }

  & svg{
    width: 60%;
    height: auto;
  }

  &-bg{
    width: 95%;
    transition: translate 0.5s cubic-bezier(.27,.54,.48,1);
    translate: -500px 0%;
  }
}

@mixin subHeader(){

  &__header{
    width: 100%;
    height: 200px;
    position: relative;

    &-bg{
      position: absolute;
      border-radius: 0% 150rem 150rem 0%;
      background-color: $primary-30;
      width: 80%;
      height: inherit;
      transition: height  0.7s cubic-bezier(.27,.54,.48,1);
      translate: -1300px 0%;
      height: 0px;
      display: none;
    }

    &-content-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: min(1150px, 90%);
      height: inherit;
      transition: translate 0.2s cubic-bezier(.27,.54,.48,1), opacity 0.5s ease;
      translate: 1300px 0%;
      opacity: 0;

      div{
        width: 70%;
      }
    }

    &-title{
      text-align: left;
      font-size: clamp(1.9rem, 7vw, 4rem);
      margin-bottom: 0.2rem;
      line-height: 1.2;
      color: $primary-90;
      font-family: $font-mono;
      font-weight: 700;
      position: relative;

      span{
        font-family: "Roboto Slab", monospace;
      }
    }

    &-subtitle{
      font-family: 'Red Hat Text';
      font-weight: 400;
      color: $primary-90;
      line-height: clamp(1.8rem, 5vw, 2.5rem);
      font-size: clamp(1.3rem, 5vw, 1.5rem);;
      transition-duration: 1s;
      transition-delay: 0s;
      transition-timing-function: ease;
      transition-property: opacity, translate;
    }

    svg{
      position: absolute;
      bottom: -2rem;
      right: 1.2rem;
      display: none;
    }

  }
}

@mixin intersectionHeader{
  
  &-bg{
    transform-origin: 0% 50%;
    translate: 0% 0%;
  }

  &-content-container{
    opacity: 1;
    transform-origin: 0% 50%;
    translate: 0% 0%;
  }

  &-subtitle{
    opacity: 1;
    translate: 0px 0px
  }

  &-title{
    opacity: 1;

    span{
      display: inline-block;
      transform-origin: 50% 100%;
    }
  }
}