@use 'library.scss';

$height-nav-item: 200px;

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 0.85rem;
  color: library.$font-color-white;
  z-index: 10;
  height: 3.5rem;
  background-color: library.$main-bg;
  transition: translate 0.3s ease;
  translate: 0px -100px;
}

.nav__show {
  translate: 0px 0px !important;
}

.nav{

  &__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 90%;
    height: inherit;
    border-bottom: 1px solid library.$light-gray;
    translate: 0px 0px;
    transition: translate 0.3s ease;
  }

  &__name{
    color: library.$primary-90;
    font-size: 1.1rem;
    font-family: library.$font-mono;
    margin-left: 1.8rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:visited, &:link, &:active{
      text-decoration: none;
      color: library.$primary-90;
    }
  }

  &__list-container{
    transition: translate 0.3s ease;
    display: flex;
    position: relative;
    flex-direction: row;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.02));

    div{
      display: flex;
      flex-direction: row;

      &:hover ~ span{
        opacity: 1;
      }
    }

    li{
      list-style-type: none;
      width: 120px;
      height: 56px;
      transition: translate 0.3s ease, background-color 0.2s ease;

      &:first-of-type{
        border-radius: 0px 0px 0px 5px;
      }

    }

    span{
      position: absolute;
      transition: translate 0.2s cubic-bezier(.25,0,.25,1), opacity 0.3s ease;
      clip-path: polygon(40% 0%, 60% 0%, 60% 100%, 40% 100%);
      bottom: 0.9rem;
      width: 120px;
      height: 2px;
      background-color: library.$primary-90;
    }

    a {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: 'Roboto', sans-serif;
      color: rgb(59, 59, 59);
    }
  }

  &__list-hidden{
    translate: 0px -100px;
    
    & ~ button svg {
      rotate: 0deg;
    }
  }
}

@media only screen and (max-width: 600px) {
  #nav{
    display:none;
  }
}