*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: "Quicksand", Tahoma, sans-serif;
}

:root{
    --header-bg-color: #FCFCFC;
    --header-text-h1-color: #0E250E;    
}


/* navigation bar */
.nav{
    width: 100%;
    height: 50px;
    position:fixed;
    display: flex;
    z-index: 2;
}

.nav__header{
    margin-left: 1rem;
    flex-basis: 250px;
    align-self: center;
}

.nav__list {
    width: 100%;
    margin-right: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-self: center;
}

.nav__header > h1 {
    font-size: 18px;
    font-weight: 700;
}

.nav__list > li {
    list-style-type: none;
    list-style-position: inside;
}

.nav__list > li{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: 5px;
    padding: 6px auto;
    position: relative;
   
}

.nav__list > li > a::after {
    content:"";
    position: absolute;
    bottom: 1px;
    width: 0px;
    right: calc(50%);
    background-color: red;
    border: 0px solid gray;
    border-radius: 2px;
    transition-property: width, right, border;
    transition-duration: 0.3s;
    transition-timing-function:ease-out;
}

.nav__list > li > a:hover::after {
    width: calc(100% - 2px);
    border: 1px solid gray; 
    right: 0%;
}

.nav__list > li > a:link{
    text-decoration: none;
}

.nav__list > li > a:visited{
    color: black;
}

/* Header */
.header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    background-color: var(--header-bg-color);
    width: 100vw;
    height: 100vh;
}

.header > div {
    position: relative;
    background-color: red;
    width: 1000px;
    height: 500px;

}


.dialogue{
    position: absolute;
    width:400px;
    background: #FFFFFF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.dialogue > p {
    color: #646464;
    padding: 1.3rem;
    font-size: 1.2rem;
}

.dialogue__nav{
    padding: 1.3rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
}

.dialogue__nav > li {
    margin: 2px;
    display: inline-block;
    list-style-type: none;
}

.dialogue__nav > li > a:hover,
.dialogue__nav > li > a:link,
.dialogue__nav > li > a:visited {
    text-decoration: none;
    color:#646464;;
}

.dialogue__nav > li> a{
    width: 50%;
    font-size: 1.2rem; 
    display: block;
    padding: 0.4rem 1.3rem;
    border: 1px solid #FAFAFA;
    border-radius: 11px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    transition: margin ease 0.3s;

}

.dialogue__nav > li > a:hover {
    margin-left: 1rem;
}

.dialogue__nav > li {
}

#svg-header-use__bg{
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translate(-50%, -0%);
}

#svg-header-use__google-clock{
    position: absolute;
    left: 50px;
}

#svg-header__google-clock{
}


.header__name > h1{
    color: var(--header-text-h1-color);
    font-size: 3.5rem;
    text-align: center;
}

/* header end */

.nav-grid{ 
    height: 100vh;
    width: 300px;
    position: fixed;
}

.content-grid{
    margin-left: 300px;
}

.content__image {
    height: 100vh;
    background-color: red;
}

.content {
    width: 100%;
    position: absolute;
    top:100vh;
}

/*about me section*/
#about-me{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.about-me__grid-container{
    width:75%;
    margin:auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.about-me__item1-title {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
    padding: 1.5rem 0rem;
    font-size: 2rem;
    background-color: red;
}

.about-me__item3-education{
    margin: 50px 0px 0px 0px
}

.about-me__item4-work {
    grid-column-start: 1;
    grid-column-end: 3;
    margin:0px 200px 0px 100px
}

.about-me__content > h2 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
}

.about-me__content > p{
    font-size: 1.2rem;
}

/*skills section*/
#skills{
    background-color: red;
    width: 100%;
    height: 100vh;
}

/*portfolio section*/
#portfolio{
    background-color: white;
    width: 100%;
    height: 100vh;
}

/*footer*/
#footer{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.designed-by{
    width: 100%;
    background-color: #222;
    position: absolute;
    bottom: 0px;
}

.designed-by > p{
    color:white;
    width: 100%;
    padding: 1.5rem 0rem;
    text-align: center;
}

