* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
}

.margin-top__16 {
  margin-top: 1rem;
}

.margin-top__32 {
  margin-top: 2rem !important;
}

.margin-top__48 {
  margin-top: 3rem !important;
}

.margin-top__64 {
  margin-top: 4rem !important;
}

.margin-top__80 {
  margin-top: 5rem !important;
}

.margin-top__96 {
  margin-top: 6rem !important;
}

.margin-top__240 {
  margin-top: 15rem !important;
}

body {
  background-color: rgb(235, 246, 249);
}
body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background-color: rgb(205, 225, 230);
}
body::-webkit-scrollbar-thumb {
  height: 10rem;
  background-color: #103151;
  border-radius: 2px;
}

#home {
  margin-bottom: 15rem;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  text-align: left;
  font-size: 3rem;
  line-height: 1.2;
  color: #09233e;
  font-family: "Roboto Slab", monospace;
  font-weight: 400;
  position: relative;
}
.header__title:before {
  content: "";
  position: absolute;
  bottom: -1rem;
  border-radius: 2px;
  left: 0px;
  background-color: #041D36;
  width: 100px;
  height: 10px;
}
.header__title span {
  font-size: 3.5rem;
  color: #09233e;
  font-weight: 600;
  font-family: "Roboto Slab", monospace;
}
.header__subtext {
  margin-top: 2rem;
  width: 500px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
  font-family: "Roboto Slab", sans-serif;
}
.header__subtext span {
  margin-top: 2rem;
  font-weight: 400;
}
.header__nav-social {
  display: flex;
  flex-direction: column;
}
.header__nav-social li {
  width: 3rem;
  height: 3rem;
  position: relative;
  list-style: none;
  background-color: #041D36;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}
.header__nav-social li:first-of-type {
  margin-top: 0;
}
.header__nav-social li:hover h6 {
  opacity: 1;
  transform: scale(1) scaleX(1);
}
.header__nav-social li:hover > div {
  filter: drop-shadow(0px 0px 1px rgb(30, 30, 91));
}
.header__nav-social li h6 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: white;
  opacity: 0;
  padding: 0.5rem;
  padding-right: 1rem;
  border-radius: 1px;
  letter-spacing: 2px;
  color: #646464;
  position: absolute;
  transform-origin: 100% 50%;
  translate: -100% -50%;
  transform: scale(0) scaleX(0.5);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  transition: all ease 0.25s;
}
.header__nav-social li > div {
  position: absolute;
  left: -2px;
  top: 50%;
}
.header__nav-social li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav-social li svg {
  width: 2rem;
  height: 2rem;
  fill: white;
}
.header nav {
  display: flex;
  flex-direction: row;
}
.header__nav {
  display: flex;
  flex-direction: row;
}
.header__nav li {
  margin: 0px 0.25rem;
  width: 13rem;
  border-radius: 2px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  list-style-type: none;
  background-color: #041D36;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: filter, transform, background-color;
  scale: 0.8;
  opacity: 0;
}
.header__nav li:hover {
  transition-property: transform;
  z-index: 10;
}
.header__nav a {
  display: block;
  width: inherit;
  aspect-ratio: 1/1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-weight: 800;
  font-family: "Roboto Slab", monospace;
  text-decoration: none;
}

@keyframes mi {
  from {
    transform: rotate(-180deg);
    d: path("M72 47C72 60.8071 60.8071 72 47 72C33.1929 72 22 60.8071 22 47C22 33.1929 33.1929 22 47 22C48.3615 22 49.6976 22.1088 51 22.3183C61.7694 24.0501 70.2384 32.6607 71.7569 43.5C71.9172 44.6437 72 45.8122 72 47Z");
  }
  to {
    transform: rotate(0deg);
    d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
  }
}
@keyframes palo1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes paloscale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
.svg-darkmode {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 0.5rem;
}
.svg-darkmode:hover {
  transform: scale(1.1);
}

.svg-darkmode > path {
  transform-origin: 50% 50%;
  transition: all 0.6s cubic-bezier(0.52, 0.26, 1, 0.6);
  transform: rotate(-630deg);
}

.svg-darkmode > g {
  transform-origin: 50% 50%;
  transform: scale(1);
  transform: rotate(0deg);
  transition: all 0.6s cubic-bezier(0.26, 0.46, 0.48, 0.99);
}

.svg-darkmode > path[darkmode=true] {
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.13, 0.54, 0.5, 0.99);
  d: path("M83.9886 59.8669C83.2336 68.1625 68.5976 84 47.7493 84C26.9009 84 10 67.1178 10 46.2927C10 28.8586 21.3248 13.11 33.4045 10.0933C35.4859 9.5349 37.1795 11.6017 36.4245 13.11C25.8547 34.2257 46.2393 69.6707 80.2136 57.6045C82.4786 56.8001 84.1555 58.033 83.9886 59.8669Z");
}

.svg-darkmode > g[darkmode=true] {
  transform-origin: 50% 50%;
  transform: scale(0.5);
  transform: rotate(240deg);
  transition-timing-function: cubic-bezier(0.13, 0.54, 0.5, 0.99);
  opacity: 0;
}

.first-row {
  display: flex;
  width: 1150px;
  height: 350px;
}
.first-row-info {
  background-color: lightblue;
  margin-right: 0.5rem;
  width: calc(100% - 350px - 1rem);
  padding: 2rem;
  border-radius: 2px;
  position: relative;
}
.first-row-info div {
  position: absolute;
  width: 201px;
  height: 180px;
  bottom: 1rem;
  right: 1rem;
  background: #E2EEF9;
  border-radius: 136px 20px 20px 20px;
}
.first-row-info:before {
  content: "";
  border: 5px solid white;
  border-right: none;
  border-bottom: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.first-row-settings {
  display: flex;
  flex-direction: column;
  width: 50px;
}
.first-row-settings-darkmode {
  background-color: #041D36;
  width: inherit;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.first-row-settings-darkmode:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 0px rgb(195, 195, 195);
}
.first-row-settings > bottom {
  cursor: pointer;
  margin-top: 0.5rem;
  position: relative;
  background-color: #223C56;
  height: calc(100% - 50px - 0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: transform, box-shadow;
}
.first-row-settings > bottom span {
  position: absolute;
  font-family: "Roboto Slab", monospace;
  font-size: 1rem;
  rotate: 90deg;
}
.first-row-settings > bottom:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 0px rgb(195, 195, 195);
}

.rotable-div {
  margin-right: 0.5rem;
  width: 300px;
  height: 350px;
  position: relative;
  border-radius: 2px;
}
.rotable-div__frontside {
  position: absolute;
  background-color: rgb(116, 162, 177);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  padding: 1rem;
  perspective: 1000px;
}
.rotable-div__backside {
  position: absolute;
  background-color: rgb(255, 180, 134);
  width: 300px;
  height: inherit;
  border-radius: inherit;
  z-index: -1;
  padding: 1rem;
}
.rotable-div__backside div {
  border-radius: 10px;
  background-color: rgb(255, 236, 225);
  padding: 0.2rem;
}
.rotable-div__backside h3 {
  font-family: "Roboto Slab", sans-serif;
  padding: 0.5rem;
  display: block;
  text-align: center;
  color: rgb(222, 129, 72);
}
.rotable-div__backside li {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  list-style: none;
  color: rgb(255, 166, 110);
  border-bottom: 1px solid transparent;
}
.rotable-div__backside li:hover {
  border-bottom: 1px solid red;
}

.scroll {
  position: absolute;
  left: 7%;
  bottom: 1rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.scroll h6 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: gray;
}
.scroll span {
  background-color: gray;
  width: 2px;
  height: 5rem;
}
.scroll__arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  rotate: 45deg;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

.increase {
  transform: scale(1.11);
  background-color: rgb(14, 17, 42) !important;
  color: gray;
}

.decrease {
  transform: scale(0.97);
  background-color: rgb(34, 34, 34) !important;
}
.decrease a {
  color: gray;
}

#nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 0.85rem;
  color: #FAFAFA;
  z-index: 10;
}

.nav__list-container {
  position: absolute;
  top: 0px;
  right: 100px;
}
.nav__list-container ul {
  display: flex;
  flex-direction: row;
}
.nav__list-container li {
  background-color: rgb(235, 246, 249);
  list-style-type: none;
  width: 100px;
  height: 100px;
  transition: translate 0.3s ease;
}
.nav__list-container li:first-of-type {
  border-radius: 0px 2px 0px 0px;
}
.nav__list-container li:first-of-type svg {
  border-radius: 0px 2px 0px 0px;
}
.nav__list-container li:last-of-type {
  border-radius: 0px 0px 2px 0px;
}
.nav__list-container li:last-of-type svg {
  border-radius: 0px 0px 2px 0px;
}
.nav__list-container a {
  font-family: "Red Hat Text", sans-serif;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #FAFAFA;
}
.nav__list-container a div {
  font-size: 1.2rem;
}
.nav__list-container a div h6 {
  color: red;
}
.nav__list-container a svg {
  background-color: green;
}
.nav__progress-container {
  width: 100%;
  height: 2px;
  background: black;
}
.nav__progress-bar {
  height: 2px;
  background: #D8D133;
  width: 0%;
}

.show {
  display: block;
}

@media only screen and (max-width: 600px) {
  #nav {
    display: none;
  }
}
@keyframes desappear {
  20% {
    transform: scale(1);
    top: 0px;
  }
  40% {
    transform: scale(1);
    top: 10px;
  }
  100% {
    transform: scale(0.8);
    top: -3rem;
  }
}
#nav-mobile {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: red;
  top: 0px;
  font-size: 0.85rem;
  color: #FAFAFA;
  z-index: 10;
}

.nav-mobile__outside {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}
.nav-mobile__list-item-container {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 280px;
  background-color: #041D36;
}
.nav-mobile__list-item-container ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.nav-mobile__list-item-container li {
  margin: 1rem;
  padding: 1rem 0rem 0.8rem 1rem;
  animation: ejemplo;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  list-style-type: none;
  position: relative;
}
.nav-mobile__list-item-container li span {
  color: yellow;
}
.nav-mobile__list-item-container li::before {
  content: "";
  position: absolute;
  right: -3px;
  bottom: 0px;
  background-color: #417BB5;
  width: 100%;
  height: 1px;
}
.nav-mobile__list-item-container li[id=nav-mobile__about-me] {
  animation-delay: 0.1s;
}
.nav-mobile__list-item-container li[id=nav-mobile__skills] {
  animation-delay: 0.15s;
}
.nav-mobile__list-item-container li[id=nav-mobile__portfolio] {
  animation-delay: 0.2s;
}
.nav-mobile__list-item-container li[id=nav-mobile__contact] {
  animation-delay: 0.25s;
}
.nav-mobile__list-item-container a {
  padding: inherit;
  color: #FAFAFA;
  font-size: 1.3rem;
  text-align: right;
  font-family: "Red Hat Text", sans-serif;
  text-decoration: none;
  position: relative;
}
.nav-mobile__list-item-container a::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0px;
  background-color: #D8D133;
  width: 20px;
  height: 1px;
}
.nav-mobile__settings {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.nav-mobile__settings > div:first-of-type {
  width: 35%;
}
.nav-mobile__settings > div:last-of-type {
  border-left: 1px #335577 solid;
  width: 65%;
}
.nav-mobile__settings button {
  padding: 0.2rem 0.5rem;
  margin: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #FAFAFA;
  font-size: 1.2rem;
}
.nav-mobile__settings button > div {
  display: inline-block;
  font-family: "Roboto Slab", monospace;
  font-size: 1rem;
}
.nav-mobile__settings button > i {
  margin: auto 0px auto 0.6rem;
  transform-origin: 50% 60%;
  transform: translate(0px, 2px);
  transition: all ease 0.5s;
  height: 12px;
}
.nav-mobile__settings button:hover > div {
  color: white;
}
.nav-mobile__settings button:hover > i {
  color: white;
  transform: rotate(-90deg);
}
.nav-mobile__settings svg {
  margin: auto;
  display: block;
}

.hamburger-button {
  background-color: #041D36;
  display: none;
  position: absolute;
  padding: 16px 16px 11px 16px;
  top: 0;
  right: 0;
  z-index: 100;
  fill: #FAFAFA;
}
.hamburger-button #hamburger-topBar {
  transform-origin: 0 0;
  transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
}
.hamburger-button #hamburger-middleBar {
  transition: all ease 0.4s;
}
.hamburger-button #hamburger-bottomBar {
  transform-origin: 0% 100%;
  transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
}

.hamburger-button__close #hamburger-topBar {
  transform: rotate(45deg) scaleX(1.1) translate(6px, -6px);
}
.hamburger-button__close #hamburger-middleBar {
  opacity: 0;
}
.hamburger-button__close #hamburger-bottomBar {
  transform: rotate(-45deg) scaleX(1.1) translate(6px, 6px);
}

@media only screen and (max-width: 600px) {
  .hamburger-button {
    display: block;
  }
}
@keyframes ejemplo {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(-2px, -10px);
  }
}
#about-me {
  background-color: rgb(205, 225, 230);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.about-me__header {
  width: 1050px;
  margin: auto;
  padding: 2rem;
  height: 300px;
  position: relative;
}
.about-me__header-bg {
  background-color: #223C56;
  left: -5%;
  position: absolute;
  width: 110%;
  height: inherit;
}
.about-me__header-content-container {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 1050px;
  height: 300px;
}
.about-me__header-part-1 {
  border-radius: 3px;
  clip-path: polygon(0% 0%, 25.05% 0%, 25.05% 100%, 0% 100%);
}
.about-me__header-part-2 {
  clip-path: polygon(24.95% 0%, 50.05% 0%, 50.05% 100%, 24.95% 100%);
}
.about-me__header-part-3 {
  clip-path: polygon(49.95% 0%, 75.05% 0%, 75.05% 100%, 49.95% 100%);
}
.about-me__header-part-4 {
  border-radius: 3px;
  clip-path: polygon(74.95% 0%, 100% 0%, 100% 100%, 74.95% 100%);
}
.about-me__header .about-me__title {
  text-align: left;
  font-size: 3rem;
  line-height: 1.2;
  color: #09233e;
  font-family: "Roboto Slab", monospace;
  font-weight: 600;
  position: relative;
}
.about-me__header .about-me__subtitle {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
}
.about-me > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me__hobbies-container {
  width: min(80%, 800px);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.about-me__hobby {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: inherit;
  text-align: center;
  line-height: 1.65;
}
.about-me__hobby div:first-of-type {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: lightblue;
}
.about-me__hobby div:last-of-type {
  margin-top: 0.5rem;
  background-color: #223C56;
}
.about-me__hobby h3 {
  font-size: 2rem;
}
.about-me__hobby p {
  font-size: 1rem;
  line-height: 1.2;
}
.about-me .about-me__buttons-container {
  width: min(800px, 90%);
  display: flex;
  justify-content: center;
}
.about-me button {
  width: min(300px, 50%);
  margin: 0px 2rem;
  border: 2px solid #041D36;
  background-color: #041D36;
  cursor: pointer;
  padding: 1rem 0rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  transition: background-color 0.3s ease;
}
.about-me button:hover {
  background-color: #041D36;
  color: white;
}
.about-me__info {
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me__info-rightside {
  width: 600px;
  height: inherit;
}
.about-me__info-rightside > div {
  padding: 1rem;
  margin-top: 1rem;
  position: relative;
}
.about-me__info-rightside > div > p {
  font-family: "Roboto Slab", monospace;
  font-size: 1rem;
}
.about-me__info-rightside > div > div {
  background-color: #041D36;
  position: absolute;
  z-index: -1;
  transform: translate(-10%, 10%);
  bottom: 0;
  left: 0;
}
.about-me__info-rightside-beginning {
  background-color: rgb(105, 153, 169);
  height: 130px;
  width: min(450px, 100%);
}
.about-me__info-rightside-beginning div {
  width: 110px;
  height: 110px;
}
.about-me__info-rightside-education {
  height: 160px;
  background-color: lightblue;
  width: min(450px, 100%);
  margin-left: 6rem;
}
.about-me__info-rightside-education div {
  width: 150px;
  height: 150px;
}
.about-me__info-rightside-goals {
  height: 145px;
  background-color: rgb(126, 172, 187);
  width: min(450px, 100%);
  margin-left: 3rem;
}
.about-me__info-rightside-goals div {
  width: 130px;
  height: 130px;
}
.about-me__info-photograph {
  background-color: red;
  width: 300px;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .about-me__header-content-container {
    flex-direction: column;
    justify-content: center;
  }
  .about-me__header-content-container div {
    margin: 2rem 0rem;
  }
  .about-me__header-content-container h1 {
    text-align: center;
  }
  .about-me__header-content-container p {
    text-align: center;
  }
  .about-me__header-content-container > img {
    margin: auto;
    background-color: green;
  }
}
#skills {
  background-color: rgb(130, 161, 179);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.skills__header {
  width: 1050px;
  margin: auto;
  padding: 2rem;
  height: 300px;
  position: relative;
}
.skills__header-bg {
  background-color: #223C56;
  left: -5%;
  position: absolute;
  width: 110%;
  height: inherit;
}
.skills__header-content-container {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 1050px;
  height: 300px;
}
.skills__header-part-1 {
  border-radius: 3px;
  clip-path: polygon(0% 0%, 25.05% 0%, 25.05% 100%, 0% 100%);
}
.skills__header-part-2 {
  clip-path: polygon(24.95% 0%, 50.05% 0%, 50.05% 100%, 24.95% 100%);
}
.skills__header-part-3 {
  clip-path: polygon(49.95% 0%, 75.05% 0%, 75.05% 100%, 49.95% 100%);
}
.skills__header-part-4 {
  border-radius: 3px;
  clip-path: polygon(74.95% 0%, 100% 0%, 100% 100%, 74.95% 100%);
}
.skills__header .skills__title {
  text-align: left;
  font-size: 3rem;
  line-height: 1.2;
  color: #09233e;
  font-family: "Roboto Slab", monospace;
  font-weight: 600;
  position: relative;
}
.skills__header .skills__subtitle {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
}
.skills__container {
  margin: 3rem 0rem;
  border: #DDD 1px solid;
  border-radius: 30px;
  position: relative;
}
.skills__container > h3 {
  display: inline-block;
  padding: 0px 0.5rem;
  position: absolute;
  top: -14px;
  left: 60px;
  background-color: rgb(235, 246, 249);
  color: #666;
  align-items: center;
  justify-content: center;
}
.skills__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem;
}
.skills__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.skills__description > svg {
  margin: 0rem 1rem;
  fill: rgb(235, 246, 249);
}
.skills__description > div {
  display: flex;
  flex-direction: column;
}
.skills__description > div > h3 {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}
.skills__description > div > p {
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  color: white;
}
.skills__description > div > button {
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  background-color: #CCC;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
.skills__show {
  display: none;
}

.skills__frontend {
  border-radius: 350px 0% 0% 350px;
  transition: filter 0.3s ease;
}
.skills__frontend:hover {
  filter: drop-shadow(0px 0px 3px rgb(152, 152, 152));
}

.skills__backend {
  border-radius: 0% 350px 350px 0%;
  transition: filter 0.3s ease;
}
.skills__backend:hover {
  filter: drop-shadow(0px 0px 3px rgb(152, 152, 152));
}

.skills__radial-container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  border-radius: calc(350px + 2rem);
  width: calc(700px + 3rem);
  height: calc(700px + 2rem);
  background-color: rgb(235, 246, 249);
  justify-content: center;
  align-items: center;
  transform-origin: 0% 0%;
  transform: rotate(30deg) translate(-50%, -50%);
  transition-property: transform, width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.skills__radial-container:hover {
  transform: rotate(0deg) translate(-50%, -50%);
  width: calc(700px + 10rem);
}
.skills__radial-container:hover .skillElement {
  transform: translate(-50%, -50%) rotate(0deg);
}
.skills__radial-container:hover .skillElement:hover {
  transform: translate(-50%, -50%) scale(1.1) rotate(0deg);
}
.skills__radial-container:hover .skills__frontend-radial {
  margin-right: 4rem;
}
.skills__radial-container:hover .skills__backend-radial {
  margin-left: 4rem;
}
.skills__radial-container:hover .skills__description {
  border-radius: 175px;
  width: calc(330px + 8rem);
  transform: translate(-50%, -50%) rotate(0deg);
}
.skills__radial-container:hover .skills__description:hover {
  transform: translate(-50%, -50%) scale(1.04) rotate(0deg);
  filter: drop-shadow(0px 0px 3px rgb(152, 152, 152));
}
.skills__radial-container:hover .skills__buttons-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.skills__radial-container:hover .skills__buttons-down {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.skills__frontend-radial {
  position: relative;
  width: 350px;
  margin-right: 0.5rem;
  height: 700px;
  overflow: hidden;
  border-radius: 350px 0% 0% 350px;
  clip-path: path("M 0 0 V 700 H 350 V 530 A 70 70 360 0 1 350 170 V 0 H 0z");
  transition: all 0.3s ease;
}
.skills__frontend-radial:hover {
  transform-origin: 100% 50%;
  transform: scale(1.05);
}

.skills__backend-radial {
  position: relative;
  margin-left: 0.5rem;
  width: 350px;
  height: 700px;
  overflow: hidden;
  border-radius: 0% 350px 350px 0%;
  clip-path: path("M 350 0 H 0 V 170 A 70 70 0 0 1 0 530 V 700 H 350z");
  transition: all 0.3s ease;
}
.skills__backend-radial:hover {
  transform-origin: 0% 50%;
  transform: scale(1.05);
}

.skills__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(330px + 1rem);
  height: 330px;
  background-color: #223C56;
  transition: all 0.3s ease;
}
.skills__description:hover {
  transform: scale(1.05);
}

.skills__circle-path-frontend {
  background-color: #d3e1ef;
  width: 700px;
  height: inherit;
  border-radius: 50%;
}

.skills__circle-path-backend {
  position: absolute;
  left: -350px;
  background-color: #e6eef6;
  width: 700px;
  height: inherit;
  border-radius: 50%;
}

.skillElement {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-30deg);
  fill: #223C56;
  display: inline-block;
  background-color: var(--white);
  transition-property: transform, fill;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.skillElement > svg {
  height: 80px;
  width: 80px;
}
.skillElement:hover {
  cursor: pointer;
  fill: red;
  transform: translate(-50%, -50%) scale(1.1) rotate(-30deg);
}
.skillElement > h5 {
  text-align: center;
  transition-property: letter-spacing color;
  transition-timing-function: ease;
  transition-duration: 0.1s;
  color: #646464;
}
.skillElement:hover > h5 {
  color: #223C56;
  letter-spacing: 0.08rem;
}

.skills__buttons-top {
  position: absolute;
  top: 1.2rem;
  width: 100px;
  height: calc(170px - 0.4rem);
  background-color: red;
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  transition: clip-path 0.3s ease;
}

.skills__buttons-down {
  position: absolute;
  bottom: 1.2rem;
  width: 100px;
  height: calc(170px - 0.4rem);
  background-color: red;
  clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  transition: clip-path 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .skills__header-content-container {
    flex-direction: column;
    justify-content: center;
  }
  .skills__header-content-container div {
    margin: 2rem 0rem;
  }
  .skills__header-content-container h1 {
    text-align: center;
  }
  .skills__header-content-container p {
    text-align: center;
  }
  .skills__header-content-container > img {
    margin: auto;
    background-color: green;
  }
}
#portfolio {
  background-color: rgb(72, 114, 138);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.portfolio__header {
  width: 1050px;
  margin: auto;
  padding: 2rem;
  height: 300px;
  position: relative;
}
.portfolio__header-bg {
  background-color: #223C56;
  left: -5%;
  position: absolute;
  width: 110%;
  height: inherit;
}
.portfolio__header-content-container {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  width: 1050px;
  height: 300px;
}
.portfolio__header-part-1 {
  border-radius: 3px;
  clip-path: polygon(0% 0%, 25.05% 0%, 25.05% 100%, 0% 100%);
}
.portfolio__header-part-2 {
  clip-path: polygon(24.95% 0%, 50.05% 0%, 50.05% 100%, 24.95% 100%);
}
.portfolio__header-part-3 {
  clip-path: polygon(49.95% 0%, 75.05% 0%, 75.05% 100%, 49.95% 100%);
}
.portfolio__header-part-4 {
  border-radius: 3px;
  clip-path: polygon(74.95% 0%, 100% 0%, 100% 100%, 74.95% 100%);
}
.portfolio__header .portfolio__title {
  text-align: left;
  font-size: 3rem;
  line-height: 1.2;
  color: #09233e;
  font-family: "Roboto Slab", monospace;
  font-weight: 600;
  position: relative;
}
.portfolio__header .portfolio__subtitle {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
}
.portfolio__flex-container {
  width: min(100%, 1300px);
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__item {
  width: 48%;
  aspect-ratio: 1.3/1;
  margin: 0.5rem;
  background-color: #D9D9D9;
  overflow: hidden;
}
.portfolio__item figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio__item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: transform 0.2s linear;
  overflow: hidden;
}
.portfolio__item figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  z-index: 1;
}
.portfolio__item figcaption .portfolio__item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to top, #041d36, #041d36, rgba(4, 29, 54, 0.7960784314), rgba(4, 29, 54, 0.5098039216), rgba(122, 122, 122, 0));
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.portfolio__item figcaption .portfolio__item-content {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  padding: 2rem;
  width: inherit;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.portfolio__item figcaption .portfolio__item-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 0.9rem;
}
.portfolio__item figcaption .portfolio__item-links-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
}
.portfolio__item figcaption .portfolio__item-links-visit {
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.3rem 0.7rem;
}
.portfolio__item figcaption .portfolio__item-header {
  margin-bottom: 1.2rem;
}
.portfolio__item figcaption .portfolio__item-header p:first-of-type {
  font-size: 0.8rem;
  color: rgb(186, 186, 186);
  font-style: italic;
}
.portfolio__item figcaption .portfolio__item-header h3 {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
}
.portfolio__item figcaption .portfolio__item-header p:last-of-type {
  font-size: 0.9rem;
  width: min(100%, 400px);
  color: white;
  line-height: 1.2;
}
.portfolio__item figcaption .portfolio__item-header span {
  color: #afa715;
}
.portfolio__item figcaption:hover .portfolio__item-number {
  opacity: 1;
}
.portfolio__item figcaption:hover .portfolio__item-background {
  opacity: 1;
}
.portfolio__item figcaption:hover .portfolio__item-content {
  opacity: 1;
}
.portfolio__item figcaption:hover ~ img {
  transform: scale(1.03);
}
.portfolio__item figcaption a {
  cursor: pointer;
  color: white;
  display: flex;
  display: inline-block;
  flex-direction: row;
  align-items: center;
}
.portfolio__item figcaption a[class=portfolio__visit-link] {
  border: #afa715 1px solid;
  border-radius: 50px;
  display: inline-block;
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  text-align: center;
}
.portfolio__item figcaption a[class=portfolio__visit-link]:hover {
  background-color: #afa715;
  color: #041d36;
}
.portfolio__item figcaption a[class=portfolio__about-link], .portfolio__item figcaption a[class=portfolio__github-link] {
  font-size: 0.8rem;
}
.portfolio__item figcaption a[class=portfolio__github-link] {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.portfolio__item figcaption a:visited, .portfolio__item figcaption a:active, .portfolio__item figcaption a:link {
  text-decoration: none;
}
.portfolio__item figcaption a svg {
  fill: white;
}

@media only screen and (max-width: 800px) {
  .portfolio__item {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  .portfolio__item {
    width: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .portfolio__header-content-container {
    flex-direction: column;
    justify-content: center;
  }
  .portfolio__header-content-container div {
    margin: 2rem 0rem;
  }
  .portfolio__header-content-container h1 {
    text-align: center;
  }
  .portfolio__header-content-container p {
    text-align: center;
  }
  .portfolio__header-content-container > img {
    margin: auto;
    background-color: green;
  }
}
/* Contact */
#contact {
  background-color: rgb(34, 68, 88);
  color: #FAFAFA;
  height: 100vh;
}

.contact__container {
  width: min(90%, 460px);
  margin: auto;
}
.contact__title {
  position: relative;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 800;
  font-size: clamp(30px, 12vw, 50px);
  line-height: clamp(55px, 13vw, 66px);
}
.contact__title span {
  color: #D8D133;
}
.contact__title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 110px;
  height: 6px;
  background-color: #417BB5;
}
.contact__form {
  margin-top: 70px;
}
.contact__form fieldset {
  width: 100%;
  position: relative;
  border: 0px;
  margin: 2rem 0px;
}
.contact__form label {
  cursor: text;
  position: absolute;
  padding: 0.3rem 0.3rem;
  margin-left: 0.5rem;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s linear;
}
.contact__form textarea {
  width: 100%;
  resize: none;
  border-radius: 2px;
  background-color: #223C56;
  padding: 1rem;
  color: #FAFAFA;
}
.contact__form textarea:focus {
  outline: 0;
}
.contact__form textarea[data-empty=false] + label, .contact__form textarea:valid + label, .contact__form textarea:focus + label {
  color: #A1A1A1;
  background-color: #223C56;
  font-size: 12px;
  font-weight: 700;
  transform: translate3d(0, -13px, 0);
}
.contact__form input {
  color: #FAFAFA;
}
.contact__form input[type=text], .contact__form input[type=email] {
  margin: 0px;
  width: 100%;
  right: 50%;
  padding: 0.3rem 0rem;
  background-color: #223C56;
  border: none;
  border-bottom: 1px solid #A1A1A1;
}
.contact__form input[type=submit] {
  cursor: pointer;
  background-color: #417BB5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0.35rem 2em;
  font-weight: 600;
  line-height: 24px;
}
.contact__form input:focus {
  outline: 0;
}
.contact__form input[data-empty=false] + label, .contact__form input:valid + label, .contact__form input:focus + label {
  color: #A1A1A1;
  font-weight: 700;
  font-size: 12px;
  padding-left: 0px;
  margin-left: 0px;
  transform: translate3d(0, -20px, 0);
}
.contact__form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A1A1A1;
}

hr {
  height: 1px;
  border: none;
  background-color: #335577;
}

.contact__social-networks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact__social-networks-container a {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #D8D133;
  margin: 20px 15px;
  transition: background-color ease 0.3s;
}
.contact__social-networks-container a:hover {
  background-color: #D8D133;
}
.contact__social-network {
  position: absolute;
  top: -1px;
  left: -1px;
  fill: #D8D133;
  z-index: 3;
  transition: fill ease 0.3s;
}
.contact__social-network:hover {
  cursor: pointer;
  fill: #223C56;
}
.contact__handcrafted-by {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
.contact__handcrafted-by p:first-child {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 24px;
}
.contact__handcrafted-by p:last-child {
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
}

.svg-icons {
  fill: #767676;
  display: inline-block;
  background-color: var(--white);
  transition: all ease 0.3s;
  margin: 1rem;
}
.svg-icons > svg {
  height: 80px;
  width: 80px;
}
.svg-icons:hover {
  cursor: pointer;
  fill: #223C56;
}
.svg-icons > h5 {
  text-align: center;
  transition-property: letter-spacing color;
  transition-timing-function: ease;
  transition-duration: 0.1s;
  color: #646464;
}
.svg-icons:hover > h5 {
  color: #223C56;
  letter-spacing: 0.08rem;
}

.block {
  margin-left: 0px;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  height: 350px;
  color: black;
  font-size: large;
  opacity: 0;
}

.extra {
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: ease;
  transform: translate(-50px, 0px);
  opacity: 1;
}

.s {
  height: 250px;
  width: 1000px;
}
.s__flex-container {
  display: none;
  background-color: red;
  height: 100%;
  width: 100%;
}
.s__description {
  display: none;
  background-color: blue;
  height: 100%;
  width: 100%;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

/*# sourceMappingURL=style.css.map */
