* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
}

.margin-top__16 {
  margin-top: 1rem;
}

.margin-top__32 {
  margin-top: 2rem !important;
}

.margin-top__48 {
  margin-top: 3rem !important;
}

.margin-top__64 {
  margin-top: 4rem !important;
}

.margin-top__80 {
  margin-top: 5rem !important;
}

.margin-top__96 {
  margin-top: 6rem !important;
}

body {
  background-color: #FAFAFA;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
}
.header > div {
  margin-top: 100px;
  margin-left: 3rem;
}
.header__title {
  font-size: clamp(2rem, 10vw, 3.5rem);
  color: #484848;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  margin-right: auto;
}
.header__subtext {
  max-width: 800px;
  font-size: 1.25rem;
  color: #646464;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-right: auto;
}

#nav {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 1rem 0rem;
  top: 0px;
  font-family: "Red Hat Mono", monospace;
  z-index: 10;
}

.nav__left-side {
  flex-basis: 300px;
}
.nav__right-side {
  width: 100%;
}
.nav__list-item-container ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5rem;
}
.nav__list-item-container li {
  margin: 0rem 0.3rem;
  list-style-type: none;
}
.nav__list-item-container a {
  font-family: "Red Hat Mono", monospace;
  text-decoration: none;
  padding: 0.5rem;
  color: #646464;
}
.nav__list-item-container .nav__language {
  font-family: "Red Hat Mono", monospace;
}
.nav__list-item-container .nav__language--btn {
  padding: 0.2rem 0.5rem;
  border: none;
  border-left: 1px solid #979797;
  background-color: #FAFAFA;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
}
.nav__list-item-container .nav__language--btn > div {
  display: inline-block;
  font-family: "Red Hat Mono", monospace;
  font-size: 1rem;
  color: #646464;
}
.nav__list-item-container .nav__language--btn > i {
  color: #646464;
  margin: auto 0px auto 0.6rem;
  transform-origin: 50% 60%;
  transform: translate(0px, 2px);
  transition: all ease 0.5s;
  height: 12px;
}
.nav__list-item-container .nav__language--btn:hover {
  background-color: #417BB5;
  color: white;
}
.nav__list-item-container .nav__language--btn:hover > div {
  color: white;
}
.nav__list-item-container .nav__language--btn:hover > i {
  color: white;
  transform: rotate(-90deg);
}
.nav__list-item-container .nav__language--dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 0.5rem;
  border: 2px solid #223C56;
  border-radius: 11px;
  width: 150px;
}
.nav__list-item-container .nav__language--dropdown-content > a {
  width: 100%;
  font-family: "Red Hat Mono", monospace;
  font-size: 1rem;
}
.show {
  display: block;
}

@media only screen and (max-width: 600px) {
  .nav__list-item-container ul {
    display: none;
  }
}
.nav-mobile__outside {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
}
.nav-mobile__list-item-container {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 280px;
  background-color: #041D36;
}
.nav-mobile__list-item-container ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
.nav-mobile__list-item-container li {
  margin: 1rem;
  padding: 1rem 0rem 0.8rem 1rem;
  animation: ejemplo;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  list-style-type: none;
  position: relative;
}
.nav-mobile__list-item-container li span {
  color: yellow;
}
.nav-mobile__list-item-container li::before {
  content: "";
  position: absolute;
  right: -3px;
  bottom: 0px;
  background-color: #417BB5;
  width: 100%;
  height: 1px;
}
.nav-mobile__list-item-container li[id=nav-mobile__about-me] {
  animation-delay: 0.1s;
}
.nav-mobile__list-item-container li[id=nav-mobile__skills] {
  animation-delay: 0.15s;
}
.nav-mobile__list-item-container li[id=nav-mobile__portfolio] {
  animation-delay: 0.2s;
}
.nav-mobile__list-item-container li[id=nav-mobile__contact] {
  animation-delay: 0.25s;
}
.nav-mobile__list-item-container a {
  padding: inherit;
  color: #FAFAFA;
  font-size: 1.3rem;
  text-align: right;
  font-family: "Red Hat Text", sans-serif;
  text-decoration: none;
  position: relative;
}
.nav-mobile__list-item-container a::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0px;
  background-color: #D8D133;
  width: 20px;
  height: 1px;
}
.nav-mobile__settings {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.nav-mobile__settings > div:first-of-type {
  width: 35%;
}
.nav-mobile__settings > div:last-of-type {
  border-left: 1px #335577 solid;
  width: 65%;
}
.nav-mobile__settings button {
  padding: 0.2rem 0.5rem;
  margin: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #FAFAFA;
  font-size: 1.2rem;
}
.nav-mobile__settings button > div {
  display: inline-block;
  font-family: "Red Hat Mono", monospace;
  font-size: 1rem;
}
.nav-mobile__settings button > i {
  margin: auto 0px auto 0.6rem;
  transform-origin: 50% 60%;
  transform: translate(0px, 2px);
  transition: all ease 0.5s;
  height: 12px;
}
.nav-mobile__settings button:hover > div {
  color: white;
}
.nav-mobile__settings button:hover > i {
  color: white;
  transform: rotate(-90deg);
}
.nav-mobile__settings svg {
  margin: auto;
  display: block;
}

.hamburger-button {
  background-color: #041D36;
  display: none;
  position: absolute;
  padding: 16px 16px 11px 16px;
  top: 0;
  right: 0;
  z-index: 100;
  fill: #FAFAFA;
}
.hamburger-button #hamburger-topBar {
  transform-origin: 0 0;
  transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
}
.hamburger-button #hamburger-middleBar {
  transition: all ease 0.4s;
}
.hamburger-button #hamburger-bottomBar {
  transform-origin: 0% 100%;
  transition: transform cubic-bezier(0.33, 1, 0.68, 1) 0.3s;
}

.hamburger-button__close #hamburger-topBar {
  transform: rotate(45deg) scaleX(1.1) translate(6px, -6px);
}
.hamburger-button__close #hamburger-middleBar {
  opacity: 0;
}
.hamburger-button__close #hamburger-bottomBar {
  transform: rotate(-45deg) scaleX(1.1) translate(6px, 6px);
}

@media only screen and (max-width: 600px) {
  .hamburger-button {
    display: block;
  }
}
@keyframes ejemplo {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(-2px, -10px);
  }
}
.about-me__item1-title {
  grid-area: title;
}
.about-me__item2-photo {
  grid-area: photo;
}
.about-me__item3-number1 {
  grid-area: number-1;
}
.about-me__item4-start {
  grid-area: start;
}
.about-me__item5-number2 {
  grid-area: number-2;
}
.about-me__item6-education {
  grid-area: education;
}
.about-me__item7-number3 {
  grid-area: number-3;
}
.about-me__item8-work {
  grid-area: work;
}
.about-me__item9-span {
  grid-area: span;
}
.about-me__item10-cv {
  grid-area: cv;
}
.about-me__grid-container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 150px auto auto;
  grid-template-areas: "title title photo" "number-1 start photo" "number-2 education photo" "number-3 work photo" "span cv photo";
  gap: 1.5rem;
}
.about-me__numbers {
  text-align: right;
}
.about-me__title {
  font-size: clamp(2rem, 10vw, 3.5rem);
  color: #484848;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  margin-right: auto;
}
.about-me__subtext {
  max-width: auto;
  font-size: 1.25rem;
  color: #646464;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  margin-right: auto;
}
.about-me__item2-photo {
  width: 450px;
}
.about-me__content > p {
  font-size: 1.25rem;
  padding-top: 2.5rem;
  font-weight: 400;
  color: #393939;
  font-family: "Red Hat Text", sans-serif;
}
.about-me__numbers > div {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.about-me__item10-cv {
  width: 250px;
  background: #041D36;
  margin-top: 2rem;
  padding: 0.75rem;
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

#skills > div:first-child {
  padding: 3rem;
  background-color: #417BB5;
}
#skills > div:first-child > div {
  max-width: 900px;
  margin: 0px auto;
}

.skills__title {
  font-size: clamp(2rem, 10vw, 3.5rem);
  color: #484848;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  text-align: right;
  margin-left: auto;
  color: white;
}
.skills__subtext {
  max-width: 700px;
  font-size: 1.25rem;
  color: #646464;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  text-align: right;
  margin-left: auto;
}
.skills__container {
  margin: 3rem 0rem;
  border: #DDD 1px solid;
  border-radius: 30px;
  position: relative;
}
.skills__container > h3 {
  display: inline-block;
  padding: 0px 0.5rem;
  position: absolute;
  top: -14px;
  left: 60px;
  background-color: #FAFAFA;
  color: #666;
  align-items: center;
  justify-content: center;
}
.skills__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem;
}
.skills__description {
  display: flex;
  margin: 2rem;
}
.skills__description > svg {
  margin: 0rem 1rem;
}
.skills__description > div {
  padding: 0rem 1rem;
  position: relative;
}
.skills__description > div > h3 {
  font-size: 1.8rem;
  color: #223C56;
}
.skills__description > div > p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: "Red Hat Text", sans-serif;
  color: #646464;
}
.skills__description > div > button {
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  background-color: #CCC;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
.skills__show {
  display: none;
}

.portfolio__title {
  font-size: clamp(2rem, 10vw, 3.5rem);
  color: #484848;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.portfolio__subtext {
  max-width: 60%;
  font-size: 1.25rem;
  color: #646464;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.portfolio__flex-container {
  width: min(90%, 1200px);
  background-color: blue;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__item {
  width: 400px;
  aspect-ratio: 1.3/1;
  margin: 0.5rem;
  background-color: #D9D9D9;
  overflow: hidden;
}
.portfolio__item figure {
  position: relative;
  width: 100%;
  height: 100%;
}
.portfolio__item img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: transform 0.5s linear;
  overflow: hidden;
}
.portfolio__item img:hover {
  transform: scale(1.2);
}
.portfolio__item figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  z-index: 1;
}
.portfolio__item figcaption h1 {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio__item figcaption a:first-of-type {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.portfolio__item figcaption button:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
}
.portfolio__item figcaption div {
  opacity: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.437), rgba(255, 255, 255, 0));
  position: relative;
  width: 200px;
  height: inherit;
  transition: all 0.5s linear;
  transform: translate(-200px, 0px);
}
.portfolio__item figcaption:hover div {
  opacity: 1;
  transform: translate(0px, 0px);
}
.portfolio__item figcaption:hover ~ img {
  filter: blur(2px);
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .portfolio__item {
    width: 100%;
  }
}
/* Contact */
#contact {
  background-color: #223C56;
  color: #FAFAFA;
  padding-top: 1px;
}

.contact__container {
  width: min(90%, 460px);
  margin: auto;
}
.contact__title {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: clamp(30px, 12vw, 50px);
  line-height: clamp(55px, 13vw, 66px);
}
.contact__title span {
  color: #D8D133;
}
.contact__title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 110px;
  height: 6px;
  background-color: #417BB5;
}
.contact__form {
  margin-top: 70px;
}
.contact__form fieldset {
  width: 100%;
  position: relative;
  border: 0px;
  margin: 2rem 0px;
}
.contact__form label {
  cursor: text;
  position: absolute;
  padding: 0.3rem 0.3rem;
  margin-left: 0.5rem;
  top: 0px;
  left: 0px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s linear;
}
.contact__form textarea {
  width: 100%;
  resize: none;
  border-radius: 2px;
  background-color: #223C56;
  padding: 1rem;
  color: #FAFAFA;
}
.contact__form textarea:focus {
  outline: 0;
}
.contact__form textarea[data-empty=false] + label, .contact__form textarea:valid + label, .contact__form textarea:focus + label {
  color: #A1A1A1;
  background-color: #223C56;
  font-size: 12px;
  font-weight: 700;
  transform: translate3d(0, -13px, 0);
}
.contact__form input {
  color: #FAFAFA;
}
.contact__form input[type=text], .contact__form input[type=email] {
  margin: 0px;
  width: 100%;
  right: 50%;
  padding: 0.3rem 0rem;
  background-color: #223C56;
  border: none;
  border-bottom: 1px solid #A1A1A1;
}
.contact__form input[type=submit] {
  cursor: pointer;
  background-color: #417BB5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0.35rem 2em;
  font-weight: 600;
  line-height: 24px;
}
.contact__form input:focus {
  outline: 0;
}
.contact__form input[data-empty=false] + label, .contact__form input:valid + label, .contact__form input:focus + label {
  color: #A1A1A1;
  font-weight: 700;
  font-size: 12px;
  padding-left: 0px;
  margin-left: 0px;
  transform: translate3d(0, -20px, 0);
}
.contact__form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A1A1A1;
}

hr {
  height: 1px;
  border: none;
  background-color: #335577;
}

.contact__social-networks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact__social-networks-container a {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #D8D133;
  margin: 20px 15px;
  transition: background-color ease 0.3s;
}
.contact__social-networks-container a:hover {
  background-color: #D8D133;
}
.contact__social-network {
  position: absolute;
  top: -1px;
  left: -1px;
  fill: #D8D133;
  z-index: 3;
  transition: fill ease 0.3s;
}
.contact__social-network:hover {
  cursor: pointer;
  fill: #223C56;
}
.contact__handcrafted-by {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}
.contact__handcrafted-by p:first-child {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 24px;
}
.contact__handcrafted-by p:last-child {
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
}

.svg-icons {
  fill: #767676;
  display: inline-block;
  background-color: var(--white);
  transition: all ease 0.3s;
  margin: 1rem;
}
.svg-icons > svg {
  height: 80px;
  width: 80px;
}
.svg-icons:hover {
  cursor: pointer;
  fill: #223C56;
}
.svg-icons > h5 {
  text-align: center;
  transition-property: letter-spacing color;
  transition-timing-function: ease;
  transition-duration: 0.1s;
  color: #646464;
}
.svg-icons:hover > h5 {
  color: #223C56;
  letter-spacing: 0.08rem;
}

.block {
  margin-left: 0px;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  height: 350px;
  color: black;
  font-size: large;
  opacity: 0;
}

.extra {
  transition-property: opacity, transform;
  transition-duration: 2s;
  transition-timing-function: ease;
  transform: translate(-50px, 0px);
  opacity: 1;
}

.s {
  height: 250px;
  width: 1000px;
}
.s__flex-container {
  display: none;
  background-color: red;
  height: 100%;
  width: 100%;
}
.s__description {
  display: none;
  background-color: blue;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
