.project-group{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 1100px;
  gap: 1.5rem;
}

.project-card{
  padding: 1rem;
  background-color: #f9fcff;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px -5px rgba(12, 12, 12, 0.5);

  &__img{
    width: 100%;
    display: block;
    aspect-ratio: 4/3;
    border-radius: 0.4rem;
    border: 1px solid gray;
  }

  &__title{
    font-size: 1.2rem;
    font-family: 'Roboto Slab';
    font-weight: 500;
    margin: 0.3rem 0rem;
  }

  &__content{
    font-family: 'Roboto';
    font-weight: 300;
    font-family: 1rem;
    line-height: 1.4;
  }

  &__github-icon{
    width: 26px;
    height: 26px;
    display: block;
    position: relative;
  }

  &__btns{

    &-group{
      display: flex; 
      flex-direction: row;

      & button:first-child{
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        border-right: none;
      }

      & button:last-child{
        border-radius: 0rem 1rem 1rem 0rem;
      }
    }
    
    &-badged{
      cursor: pointer;
      display: inline;
      padding:0.3rem 0.6rem;
      font-size: 0.8rem;
      border: 1px solid gray;
      margin: 0.3rem 0rem;
      color: gray;
      background-color: rgb(244, 244, 244);
      
      &[data-text="portfolio-project-status-pending"]{
        color: rgb(150, 0, 0);
        border-color: rgb(150, 0, 0);
      }

      &[data-text="portfolio-project-status-in-progress"]{
        color: rgb(156, 156, 0);
        border-color: rgb(156, 156, 0);
        background-color: rgb(255, 255, 161);
      }
      
      &[data-text="portfolio-project-status-deployed"]{
        color: rgb(0, 144, 0);
        border-color: rgb(0, 144, 0);
      }
    }
  }

  &__links{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    flex-direction: row;
    text-align: center;
    margin: auto;
    padding: 0px;
  }

  &__link{
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;

    a{
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      display: block;
      align-items: center;
      font-size: 1rem;
      position: relative;
      z-index: 2;
      color: #00043c;;
      font-weight: 500;
      font-family: "Red Hat Text";
      text-decoration: none;

      &:visited, &:active, &:link{
        text-decoration: none;
      }

      &::after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        z-index: -1;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
        transition-property: width, height;
        transform-origin: center;
        translate: -50% -50%;
        width: 0px;
        height: 0px;
      }
      
      &:hover::after{
        background-color: rgba(157, 183, 255, 0.498);
        width: 36px;
        height: 36px;
      }
    }
  }
}